webhook-migration/discovery/n8n-exports/consumer-contact-swap.json
{"updatedAt":"2026-02-18T18:01:52.804Z","createdAt":"2026-02-18T17:55:04.384Z","id":"e1puojhc35tFJML5","name":"Intercom - Consumer Contact Swap (Webhook)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wb-1","name":"Intercom Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"intercom-consumer-contact-swap","parameters":{"httpMethod":"POST","path":"intercom-contact-swap","responseMode":"onReceived","responseData":"","responseCode":200,"options":{}}},{"id":"wb-2","name":"Is Form Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,200],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-1","leftValue":"={{ $json.body.data.item.source.author.email }}","rightValue":"michael.f@icorrect.co.uk","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"wb-3","name":"Get Full Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,200],"parameters":{"method":"GET","url":"=https://api.intercom.io/conversations/{{ $json.body.data.item.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"id":"wb-4","name":"Extract Customer Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,200],"parameters":{"jsCode":"const conversation = $input.first().json;\nconst conversationId = conversation.id;\n\n// Get original contact ID (michael.f's contact to remove)\nlet originalContactId = null;\nif (conversation.contacts && conversation.contacts.contacts && conversation.contacts.contacts.length > 0) {\n  originalContactId = conversation.contacts.contacts[0].id;\n}\n\n// Parse customer email from the email body\nconst body = conversation.source && conversation.source.body ? conversation.source.body : '';\n\n// Strip HTML and find Email: pattern\nconst plainText = body.replace(/<[^>]*>/g, ' ').replace(/&nbsp;/g, ' ');\nconst emailMatch = plainText.match(/Email:\\s*([^\\s<\\n\\r,]+@[^\\s<\\n\\r,]+\\.[^\\s<\\n\\r,]+)/i);\nconst customerEmail = emailMatch ? emailMatch[1].trim() : null;\n\nif (!customerEmail) {\n  throw new Error('Could not extract customer email from body: ' + plainText.substring(0, 300));\n}\n\nreturn {\n  json: {\n    conversationId,\n    originalContactId,\n    customerEmail\n  }\n};"}},{"id":"wb-5","name":"Search Customer Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"parameters":{"method":"POST","url":"https://api.intercom.io/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"field\": \"email\",\n    \"operator\": \"=\",\n    \"value\": \"{{ $json.customerEmail }}\"\n  },\n  \"pagination\": { \"per_page\": 1 }\n}","options":{}},"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"id":"wb-6","name":"Build Contact IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,200],"parameters":{"jsCode":"const searchResult = $input.first().json;\nconst prev = $('Extract Customer Email').first().json;\n\nif (!searchResult.data || searchResult.data.length === 0) {\n  throw new Error('Customer contact not found in Intercom for: ' + prev.customerEmail);\n}\n\nconst customerContactId = searchResult.data[0].id;\n\nreturn {\n  json: {\n    conversationId: prev.conversationId,\n    originalContactId: prev.originalContactId,\n    customerContactId\n  }\n};"}},{"id":"wb-7","name":"Add Real Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,200],"parameters":{"method":"POST","url":"=https://api.intercom.io/conversations/{{ $json.conversationId }}/customers","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"admin_id\": \"9702337\",\n  \"customer\": {\n    \"intercom_user_id\": \"{{ $json.customerContactId }}\"\n  }\n}","options":{}},"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"id":"wb-8","name":"Remove Sender Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,200],"parameters":{"method":"DELETE","url":"=https://api.intercom.io/conversations/{{ $('Build Contact IDs').item.json.conversationId }}/customers/{{ $('Build Contact IDs').item.json.originalContactId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"admin_id\": \"9702337\"\n}","options":{"response":{"response":{"neverError":true}}}},"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"id":"wb-route","name":"Route by Topic","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-topic","leftValue":"={{ $json.body.topic }}","rightValue":"conversation.user.created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"wb-forward","name":"Forward Tag Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,440],"parameters":{"method":"POST","url":"https://icorrect.app.n8n.cloud/webhook/intercom-create-repair","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body) }}","options":{"response":{"response":{"neverError":true}}}}}],"connections":{"Intercom Webhook":{"main":[[{"node":"Route by Topic","type":"main","index":0}]]},"Route by Topic":{"main":[[{"node":"Is Form Email?","type":"main","index":0}],[{"node":"Forward Tag Event","type":"main","index":0}]]},"Is Form Email?":{"main":[[{"node":"Get Full Conversation","type":"main","index":0}],[]]},"Get Full Conversation":{"main":[[{"node":"Extract Customer Email","type":"main","index":0}]]},"Extract Customer Email":{"main":[[{"node":"Search Customer Contact","type":"main","index":0}]]},"Search Customer Contact":{"main":[[{"node":"Build Contact IDs","type":"main","index":0}]]},"Build Contact IDs":{"main":[[{"node":"Add Real Customer","type":"main","index":0}]]},"Add Real Customer":{"main":[[{"node":"Remove Sender Contact","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"688ffc18-3278-475f-9d6c-56c75fe1585d","activeVersionId":"688ffc18-3278-475f-9d6c-56c75fe1585d","versionCounter":8,"triggerCount":1,"shared":[{"updatedAt":"2026-02-18T17:55:04.386Z","createdAt":"2026-02-18T17:55:04.386Z","role":"workflow:owner","workflowId":"e1puojhc35tFJML5","projectId":"X5DgwQmRp49LrGTP","project":{"updatedAt":"2025-08-25T04:04:38.624Z","createdAt":"2025-08-25T04:04:35.998Z","id":"X5DgwQmRp49LrGTP","name":"Ricky Panesar <ricky@icorrect.co.uk>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-08-25T04:04:35.999Z","createdAt":"2025-08-25T04:04:35.999Z","userId":"7aa5fe42-4657-442d-a815-3adfb7431102","projectId":"X5DgwQmRp49LrGTP","user":{"updatedAt":"2026-03-30T05:58:07.000Z","createdAt":"2025-08-25T04:04:34.500Z","id":"7aa5fe42-4657-442d-a815-3adfb7431102","email":"ricky@icorrect.co.uk","firstName":"Ricky","lastName":"Panesar","personalizationAnswers":null,"settings":{"userActivated":true,"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true},"firstSuccessfulWorkflowId":"jejshaqrAcySKch8","userActivatedAt":1763625600540,"npsSurvey":{"responded":true,"lastShownAt":1765315880317}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-29","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-18T18:01:52.935Z","createdAt":"2026-02-18T18:01:52.935Z","versionId":"688ffc18-3278-475f-9d6c-56c75fe1585d","workflowId":"e1puojhc35tFJML5","nodes":[{"id":"wb-1","name":"Intercom Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"intercom-consumer-contact-swap","parameters":{"httpMethod":"POST","path":"intercom-contact-swap","responseMode":"onReceived","responseData":"","responseCode":200,"options":{}}},{"id":"wb-2","name":"Is Form Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,200],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-1","leftValue":"={{ $json.body.data.item.source.author.email }}","rightValue":"michael.f@icorrect.co.uk","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"wb-3","name":"Get Full Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,200],"parameters":{"method":"GET","url":"=https://api.intercom.io/conversations/{{ $json.body.data.item.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"id":"wb-4","name":"Extract Customer Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,200],"parameters":{"jsCode":"const conversation = $input.first().json;\nconst conversationId = conversation.id;\n\n// Get original contact ID (michael.f's contact to remove)\nlet originalContactId = null;\nif (conversation.contacts && conversation.contacts.contacts && conversation.contacts.contacts.length > 0) {\n  originalContactId = conversation.contacts.contacts[0].id;\n}\n\n// Parse customer email from the email body\nconst body = conversation.source && conversation.source.body ? conversation.source.body : '';\n\n// Strip HTML and find Email: pattern\nconst plainText = body.replace(/<[^>]*>/g, ' ').replace(/&nbsp;/g, ' ');\nconst emailMatch = plainText.match(/Email:\\s*([^\\s<\\n\\r,]+@[^\\s<\\n\\r,]+\\.[^\\s<\\n\\r,]+)/i);\nconst customerEmail = emailMatch ? emailMatch[1].trim() : null;\n\nif (!customerEmail) {\n  throw new Error('Could not extract customer email from body: ' + plainText.substring(0, 300));\n}\n\nreturn {\n  json: {\n    conversationId,\n    originalContactId,\n    customerEmail\n  }\n};"}},{"id":"wb-5","name":"Search Customer Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"parameters":{"method":"POST","url":"https://api.intercom.io/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"field\": \"email\",\n    \"operator\": \"=\",\n    \"value\": \"{{ $json.customerEmail }}\"\n  },\n  \"pagination\": { \"per_page\": 1 }\n}","options":{}},"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"id":"wb-6","name":"Build Contact IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,200],"parameters":{"jsCode":"const searchResult = $input.first().json;\nconst prev = $('Extract Customer Email').first().json;\n\nif (!searchResult.data || searchResult.data.length === 0) {\n  throw new Error('Customer contact not found in Intercom for: ' + prev.customerEmail);\n}\n\nconst customerContactId = searchResult.data[0].id;\n\nreturn {\n  json: {\n    conversationId: prev.conversationId,\n    originalContactId: prev.originalContactId,\n    customerContactId\n  }\n};"}},{"id":"wb-7","name":"Add Real Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,200],"parameters":{"method":"POST","url":"=https://api.intercom.io/conversations/{{ $json.conversationId }}/customers","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"admin_id\": \"9702337\",\n  \"customer\": {\n    \"intercom_user_id\": \"{{ $json.customerContactId }}\"\n  }\n}","options":{}},"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"id":"wb-8","name":"Remove Sender Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,200],"parameters":{"method":"DELETE","url":"=https://api.intercom.io/conversations/{{ $('Build Contact IDs').item.json.conversationId }}/customers/{{ $('Build Contact IDs').item.json.originalContactId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"admin_id\": \"9702337\"\n}","options":{"response":{"response":{"neverError":true}}}},"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"id":"wb-route","name":"Route by Topic","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-topic","leftValue":"={{ $json.body.topic }}","rightValue":"conversation.user.created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"wb-forward","name":"Forward Tag Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,440],"parameters":{"method":"POST","url":"https://icorrect.app.n8n.cloud/webhook/intercom-create-repair","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body) }}","options":{"response":{"response":{"neverError":true}}}}}],"connections":{"Intercom Webhook":{"main":[[{"node":"Route by Topic","type":"main","index":0}]]},"Route by Topic":{"main":[[{"node":"Is Form Email?","type":"main","index":0}],[{"node":"Forward Tag Event","type":"main","index":0}]]},"Is Form Email?":{"main":[[{"node":"Get Full Conversation","type":"main","index":0}],[]]},"Get Full Conversation":{"main":[[{"node":"Extract Customer Email","type":"main","index":0}]]},"Extract Customer Email":{"main":[[{"node":"Search Customer Contact","type":"main","index":0}]]},"Search Customer Contact":{"main":[[{"node":"Build Contact IDs","type":"main","index":0}]]},"Build Contact IDs":{"main":[[{"node":"Add Real Customer","type":"main","index":0}]]},"Add Real Customer":{"main":[[{"node":"Remove Sender Contact","type":"main","index":0}]]}},"authors":"Ricky Panesar","name":null,"description":null}}