webhook-migration/discovery/n8n-exports/shopify-contact-form.json
{"updatedAt":"2026-03-21T17:06:44.270Z","createdAt":"2026-02-02T17:55:06.709Z","id":"tNQphRiUo0L8SdBn","name":"Shopify Contact Form","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"shopify-contact-form","responseMode":"responseNode","options":{"allowedOrigins":"https://icorrect.co.uk,https://www.icorrect.co.uk","rawBody":false}},"id":"f8d9b0d5-d616-4ec4-a131-ca368b1f9fad","name":"Webhook - Receive Form","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[19984,10560],"webhookId":"shopify-contact-form"},{"parameters":{"jsCode":"// Parse and validate the incoming form data\nconst input = $input.first().json;\nlet formData = input.body || input;\n\n// When sent as text/plain with no-cors, body arrives as a JSON string\nif (typeof formData === 'string') {\n  try { formData = JSON.parse(formData); } catch(e) { /* keep as-is */ }\n}\n\nconst extractField = (data, fieldName) => {\n  if (data[`contact[${fieldName}]`]) return data[`contact[${fieldName}]`];\n  if (data[fieldName]) return data[fieldName];\n  if (data.contact && data.contact[fieldName]) return data.contact[fieldName];\n  const camel = fieldName.replace(/_([a-z])/g, (_, c) => c.toUpperCase());\n  if (camel !== fieldName && data[camel]) return data[camel];\n  return null;\n};\n\nconst formatPhoneNumber = (phone) => {\n  if (!phone) return null;\n  let cleaned = phone.replace(/[^\\d+]/g, '');\n  if (!cleaned || cleaned.replace(/\\+/g, '').length === 0) return null;\n  if (cleaned.startsWith('0') && cleaned.length === 11) {\n    cleaned = '+44' + cleaned.substring(1);\n  } else if (cleaned.startsWith('44') && cleaned.length === 12) {\n    cleaned = '+' + cleaned;\n  } else if (cleaned.startsWith('+44')) {\n  } else if (cleaned.startsWith('+')) {\n  } else if (cleaned.length === 10 && !cleaned.startsWith('0')) {\n    cleaned = '+44' + cleaned;\n  } else if (cleaned.length >= 7 && cleaned.length <= 15) {\n    cleaned = '+' + cleaned;\n  } else {\n    return null;\n  }\n  const digitsOnly = cleaned.replace('+', '');\n  if (digitsOnly.length < 7 || digitsOnly.length > 15) return null;\n  if (!/^\\+\\d{7,15}$/.test(cleaned)) return null;\n  return cleaned;\n};\n\n// Common fields\nconst name = extractField(formData, 'name');\nconst email = extractField(formData, 'email');\nconst phone = extractField(formData, 'phone');\nconst message = extractField(formData, 'body');\nconst company = extractField(formData, 'company');\nconst isCorporate = !!company;\n\n// Device fields\nconst deviceType = extractField(formData, 'device_type');\nconst deviceModel = extractField(formData, 'device_model');\nconst faultArea = extractField(formData, 'fault_area');\n\n// Corporate fields\nconst jobTitle = extractField(formData, 'job_title');\nconst fleetSize = extractField(formData, 'fleet_size');\nconst sla = extractField(formData, 'sla');\nconst interestedDevices = extractField(formData, 'interested_devices');\nconst tags = extractField(formData, 'tags');\n\n// Quote wizard fields\nconst source = extractField(formData, 'source');\nconst repairTitle = extractField(formData, 'repair_title');\nconst issue = extractField(formData, 'issue');\nconst route = extractField(formData, 'route');\nconst isQuoteEmail = (source === 'quote-wizard-email-quote');\n\n// Pricing breakdown (from wizard DOM)\nconst basePrice = extractField(formData, 'base_price');\nconst expressName = extractField(formData, 'express_name');\nconst expressMeta = extractField(formData, 'express_meta');\nconst expressPrice = extractField(formData, 'express_price');\nconst serviceName = extractField(formData, 'service_name');\nconst servicePrice = extractField(formData, 'service_price');\nconst totalPrice = extractField(formData, 'total_price');\nconst turnaround = extractField(formData, 'turnaround');\nconst estimatesRaw = extractField(formData, 'estimates');\nconst warranty = extractField(formData, 'warranty');\nconst parts = extractField(formData, 'parts');\nconst productUrl = extractField(formData, 'productUrl');\nconst deviceColor = extractField(formData, 'deviceColor');\n\n// Legacy fallbacks for price/turnaround/serviceType\nconst legacyPrice = extractField(formData, 'price');\nconst legacyTurnaround = extractField(formData, 'turnaround');\nconst legacyServiceType = extractField(formData, 'service_type');\n\n// Parse estimates JSON\nlet estimates = [];\nif (estimatesRaw) {\n  try { estimates = JSON.parse(estimatesRaw); } catch(e) {}\n}\n\n// Validation\nif (!email) throw new Error('Email is required');\nif (!isQuoteEmail && !name) throw new Error('Name is required');\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email.trim())) throw new Error('Invalid email format');\nconst formattedPhone = formatPhoneNumber(phone);\nconst uniqueId = Date.now();\n\n// Build email subject and body for non-quote paths\nlet subject = '';\nlet body = '';\nif (isCorporate) {\n  subject = `Corporate Enquiry: ${company || name} [${uniqueId}]`;\n  body = `New corporate enquiry from ${name}`;\n  if (company) body += ` at ${company}`;\n  body += `\\n\\nEmail: ${email}\\nPhone: ${formattedPhone || 'Not provided'}`;\n  if (jobTitle) body += `\\nJob Title: ${jobTitle}`;\n  if (fleetSize) body += `\\nFleet Size: ${fleetSize}`;\n  if (sla) body += `\\nSLA: ${sla}`;\n  if (interestedDevices) body += `\\nInterested Devices: ${interestedDevices}`;\n  if (message) body += `\\n\\nMessage:\\n${message}`;\n} else {\n  subject = `Contact Form: ${name} - ${deviceModel || deviceType || 'Repair Enquiry'} [${uniqueId}]`;\n  body = `New enquiry from ${name}\\n\\nEmail: ${email}\\nPhone: ${formattedPhone || 'Not provided'}`;\n  if (deviceType) body += `\\nDevice: ${deviceType}`;\n  if (deviceModel) body += ` - ${deviceModel}`;\n  if (faultArea) body += `\\nFault Area: ${faultArea}`;\n  if (message) body += `\\n\\nMessage:\\n${message}`;\n}\n\nreturn {\n  json: {\n    name: name ? name.trim() : (email ? email.split('@')[0] : 'Quote Request'),\n    email: email.trim().toLowerCase(),\n    phone: formattedPhone,\n    deviceType: deviceType || null,\n    deviceModel: deviceModel || null,\n    faultArea: faultArea || null,\n    message: message || '',\n    company: company || null,\n    jobTitle: jobTitle || null,\n    fleetSize: fleetSize || null,\n    sla: sla || null,\n    interestedDevices: interestedDevices || null,\n    tags: tags || null,\n    isCorporate,\n    emailSubject: subject,\n    emailBody: body,\n    uniqueId,\n    timestamp: new Date().toISOString(),\n    source: source || null,\n    repairTitle: repairTitle || null,\n    issue: issue || null,\n    route: route || null,\n    isQuoteEmail,\n    // Pricing breakdown\n    basePrice: parseFloat(basePrice) || parseFloat(legacyPrice) || 0,\n    expressName: expressName || null,\n    expressMeta: expressMeta || null,\n    expressPrice: parseFloat(expressPrice) || 0,\n    serviceName: serviceName || legacyServiceType || 'Walk-in',\n    servicePrice: parseFloat(servicePrice) || 0,\n    totalPrice: totalPrice || legacyPrice || null,\n    turnaround: turnaround || legacyTurnaround || null,\n    estimates: estimates,\n    warranty: warranty || '2-year warranty',\n    parts: parts || 'Genuine Apple parts',\n    productUrl: productUrl || null,\n    deviceColor: deviceColor || null\n  }\n};"},"id":"c7a922dd-9711-4e2a-859c-aab0b291606b","name":"Parse Form Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[20192,10560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"is-corporate","leftValue":"={{ $json.isCorporate }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8dcd5478-38e6-434a-841a-7ca2d927ee3b","name":"Is Corporate?","type":"n8n-nodes-base.if","typeVersion":2,"position":[20544,10560]},{"parameters":{"fromEmail":"michael.f@icorrect.co.uk","toEmail":"support@icorrect.co.uk","subject":"={{ $json.emailSubject }}","emailFormat":"text","text":"={{ $json.emailBody }}","options":{"appendAttribution":false,"replyTo":"={{ $json.email }}"}},"id":"ed43ec78-dbac-4205-9ed6-a97da9a7c867","name":"Send Email to Intercom","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[20640,10400],"webhookId":"edecf1b3-8123-4283-aa24-e8f786599b2b","credentials":{"smtp":{"id":"0zcClIPpgC3EHxSw","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ role: \"user\", email: $(\"Parse Form Data\").item.json.email, name: $(\"Parse Form Data\").item.json.name }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"50a58bde-b059-46f5-b122-a277960eafa6","name":"Create Consumer Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20640,10592],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Extract the contact ID from Create Consumer Contact response\nconst contactResponse = $input.first().json;\nconst formData = $('Parse Form Data').first().json;\n\nlet customerContactId = null;\n\n// Case 1: Contact created successfully\nif (contactResponse.id) {\n  customerContactId = contactResponse.id;\n}\n\n// Case 2: Contact already exists - extract ID from error message\nif (!customerContactId && contactResponse.errors) {\n  const errorMsg = contactResponse.errors[0]?.message || '';\n  const match = errorMsg.match(/id=([a-f0-9]+)/);\n  if (match) {\n    customerContactId = match[1];\n  }\n}\n\nif (!customerContactId) {\n  throw new Error('Could not get contact ID: ' + JSON.stringify(contactResponse));\n}\n\nreturn {\n  json: {\n    customerContactId: customerContactId,\n    customerEmail: formData.email,\n    customerName: formData.name,\n    customerPhone: formData.phone,\n    emailSubject: formData.emailSubject\n  }\n};"},"id":"fbf51598-1d8e-45b3-8867-e8a05bde8948","name":"Extract Consumer Contact ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[20864,10592]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"message\": \"Your enquiry has been received. We will get back to you shortly.\"\n}","options":{"responseCode":200}},"id":"fdd2efdd-0cb1-4a3c-9b59-45de2629ca42","name":"Return Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20864,10400]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": false,\n  \"error\": \"We couldn't process your request. Please try again or contact us directly at support@icorrect.co.uk\"\n}","options":{"responseCode":400}},"id":"74229e0d-da14-426a-a935-ab7dd0fddb4a","name":"Return Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20192,10816]},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ role: \"user\", email: $(\"Parse Form Data\").item.json.email, name: $(\"Parse Form Data\").item.json.name }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"875bbb00-0195-4a51-8695-14af9b4919fa","name":"Create Corporate Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20640,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Extract the contact ID from Create Corporate Contact response\nconst contactResponse = $input.first().json;\nconst formData = $('Parse Form Data').first().json;\n\nlet contactId = null;\n\n// Case 1: Contact created successfully\nif (contactResponse.id) {\n  contactId = contactResponse.id;\n}\n\n// Case 2: Contact already exists - extract ID from error message\nif (!contactId && contactResponse.errors) {\n  const errorMsg = contactResponse.errors[0]?.message || '';\n  const match = errorMsg.match(/id=([a-f0-9]+)/);\n  if (match) {\n    contactId = match[1];\n  }\n}\n\nif (!contactId) {\n  throw new Error('Could not get corporate contact ID: ' + JSON.stringify(contactResponse));\n}\n\nreturn {\n  json: {\n    contactId,\n    ...formData\n  }\n};"},"id":"318dfd6a-a6c6-4a65-a17f-74b16a96e511","name":"Extract Corporate Contact ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[20864,10816]},{"parameters":{"method":"POST","url":"https://api.intercom.io/companies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.company, company_id: $json.company.toLowerCase().replace(/[^a-z0-9]/g, \"-\") }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"9102ea25-18d8-4172-8852-99e6f250beca","name":"Create/Update Company","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[21088,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Get company ID from response and pass through all data\nconst companyResponse = $input.first().json;\nconst prevData = $('Extract Corporate Contact ID').first().json;\n\nlet companyId = companyResponse.id || null;\n\nreturn {\n  json: {\n    companyId,\n    ...prevData\n  }\n};"},"id":"927133fd-b76e-4ba1-beee-498647ff168f","name":"Extract Company ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[21312,10816]},{"parameters":{"method":"POST","url":"=https://api.intercom.io/contacts/{{ $json.contactId }}/companies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ id: $json.companyId }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"daf9695e-5bbe-44db-9b9a-91d3eec35d61","name":"Attach Company to Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[21536,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Build the Intercom ticket with all corporate details\nconst prevData = $('Extract Company ID').first().json;\n\n// Build structured ticket description\nconst lines = [];\nlines.push(`Contact: ${prevData.name}`);\nlines.push(`Email: ${prevData.email}`);\nlines.push(`Phone: ${prevData.phone || 'Not provided'}`);\nlines.push(`Company: ${prevData.company}`);\nif (prevData.jobTitle) lines.push(`Job Title: ${prevData.jobTitle}`);\nif (prevData.fleetSize) lines.push(`Fleet Size: ${prevData.fleetSize}`);\nif (prevData.interestedDevices) lines.push(`Interested Devices: ${prevData.interestedDevices}`);\nif (prevData.sla) lines.push(`SLA Preference: ${prevData.sla}`);\nif (prevData.message) lines.push(`\\nMessage:\\n${prevData.message}`);\n\nconst ticketDescription = lines.join('\\n');\nconst ticketTitle = `Corporate Enquiry: ${prevData.company}`;\n\nreturn {\n  json: {\n    contactId: prevData.contactId,\n    companyId: prevData.companyId,\n    ticketTitle,\n    ticketDescription,\n    ...prevData\n  }\n};"},"id":"7575f0eb-fb52-4571-907f-8a8d211c567a","name":"Prepare Corporate Ticket","type":"n8n-nodes-base.code","typeVersion":2,"position":[21760,10816]},{"parameters":{"method":"POST","url":"https://api.intercom.io/tickets","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ ticket_type_id: 2985889, contacts: [{ id: $json.contactId }], ticket_attributes: { _default_title_: $json.ticketTitle, _default_description_: $json.ticketDescription } }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"7d72bc70-6733-4db1-906c-9cdea8eb1b5e","name":"Create Intercom Ticket","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[21984,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Build Slack message from all collected data\nconst prevData = $('Prepare Corporate Ticket').first().json;\nconst ticketResponse = $input.first().json;\nconst ticketId = ticketResponse?.ticket_id || ticketResponse?.id || 'N/A';\n\n// Build details as a single-column list\nconst lines = [];\nlines.push(`*Contact:* ${prevData.name}`);\nlines.push(`*Email:* ${prevData.email}`);\nlines.push(`*Phone:* ${prevData.phone || 'Not provided'}`);\nlines.push(`*Role:* ${prevData.jobTitle || 'Not provided'}`);\nlines.push(`*Company:* ${prevData.company}`);\nlines.push(`*Fleet Size:* ${prevData.fleetSize || 'Not provided'}`);\nlines.push(`*Interested Devices:* ${prevData.interestedDevices || 'Not provided'}`);\nlines.push(`*SLA Preference:* ${prevData.sla || 'Not provided'}`);\nif (prevData.message) {\n  lines.push(`*Message:* ${prevData.message}`);\n}\n\nconst slackBlocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: `\\u{1F3E2} New Corporate Enquiry: ${prevData.company}`,\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: lines.join('\\n')\n    }\n  },\n  {\n    type: 'divider'\n  },\n  {\n    type: 'context',\n    elements: [\n      { type: 'mrkdwn', text: `Intercom Ticket: #${ticketId}` }\n    ]\n  }\n];\n\nreturn {\n  json: {\n    channel: '#corporate-onboarding',\n    blocks: slackBlocks,\n    text: `New Corporate Enquiry from ${prevData.name} at ${prevData.company}`\n  }\n};"},"id":"18e189ab-65e5-4b63-a324-868e1c361606","name":"Prepare Slack Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[22208,10816]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: $json.channel, text: $json.text, blocks: $json.blocks }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"31d8d7ac-356c-4061-9c97-e878c059e1f6","name":"Send Slack Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[22432,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"},"slackApi":{"id":"sxmejCcdtgLdlxBy","name":"Slack account 4"},"slackOAuth2Api":{"id":"Be0moa1JlZvCRZnY","name":"Slack account 5"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"message\": \"Your corporate enquiry has been received. Our team will be in touch shortly.\"\n}","options":{"responseCode":200}},"id":"12556315-029d-4f30-8e75-874236828c91","name":"Return Corporate Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20640,10720]},{"parameters":{"method":"PUT","url":"=https://api.intercom.io/contacts/{{ $json.customerContactId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.customerName, email: $json.customerEmail, phone: $json.customerPhone || \"\" }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"ac9e7bba-3276-4bce-a5d5-d362a39bae8e","name":"Update Consumer Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[21088,10592],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"is-quote-email","leftValue":"={{ $json.isQuoteEmail }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is Quote Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[20304,10560],"id":"fb179cdd-3222-4334-b3ba-da2ce296863b"},{"parameters":{"fromEmail":"michael.f@icorrect.co.uk","toEmail":"={{ $json.email }}","subject":"={{ $json.emailSubject }}","html":"={{ $json.emailHtml }}","options":{"appendAttribution":false,"replyTo":"support@icorrect.co.uk"}},"name":"Send Quote Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[20768,10320],"id":"ef81ad0d-d382-4455-bb08-f6cf055532ce","webhookId":"a5a08cc4-d9aa-423a-95fc-5746d65aa2e5","credentials":{"smtp":{"id":"0zcClIPpgC3EHxSw","name":"SMTP account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: 'Quote email sent' }) }}","options":{}},"name":"Return Quote Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20992,10320],"id":"26ff4392-fee8-4953-9abb-4a295c77452b"},{"parameters":{"jsCode":"const d = $input.first().json;\n\nconst name = d.name || 'there';\nconst route = d.route || 'repair';\nconst isDiag = route === 'diagnostic';\nconst repairTitle = d.repairTitle || 'Repair Quote';\nconst issue = d.issue || '';\nconst deviceType = d.deviceType || '';\nconst deviceModel = d.deviceModel || '';\nconst device = deviceModel ? (deviceType + ' \\u2014 ' + deviceModel) : (deviceType || '-');\nconst fault = d.faultArea || '-';\nconst warranty = d.warranty || '2-year warranty';\nconst parts = d.parts || 'Genuine Apple parts';\nconst deviceColor = d.deviceColor || null;\nconst productUrl = d.productUrl || 'https://www.icorrect.co.uk/#home-contact';\n\n// Product page URL for CTA\n\n// Prices — handle BOTH old wizard (price:\"£898\") and new wizard (basePrice:799)\nconst basePrice = parseFloat(d.basePrice) || 0;\nconst expressPrice = parseFloat(d.expressPrice) || 0;\nconst servicePrice = parseFloat(d.servicePrice) || 0;\nconst serviceName = d.serviceName || d.serviceType || 'Walk-in';\n\n// Total price: from new wizard or old wizard\nconst rawTotal = d.totalPrice || d.price || '';\n// Strip £ to get numeric total\nconst numericTotal = parseFloat(String(rawTotal).replace(/[^0-9.]/g, '')) || 0;\n// If we have add-ons, base is from basePrice. Otherwise use total.\nconst hasAddOns = expressPrice > 0 || servicePrice > 0;\nconst displayBase = basePrice > 0 ? basePrice : numericTotal;\nconst displayTotal = numericTotal || (basePrice + expressPrice + servicePrice);\n\nconst fmtP = (v) => {\n  const n = parseFloat(v);\n  if (isNaN(n) || n === 0) return null;\n  return '\\u00a3' + (n % 1 === 0 ? n.toString() : n.toFixed(2));\n};\n\n// Hardcoded turnaround\nconst TA = {\n  repair:     { iPhone: '2-4 hours', MacBook: '2-3 working days', iPad: '2-3 working days', 'Apple Watch': '2-3 working days' },\n  diagnostic: { iPhone: '2 working days', MacBook: '2 working days', iPad: '2 working days', 'Apple Watch': '2 working days' }\n};\nconst turnaround = (isDiag ? TA.diagnostic : TA.repair)[deviceType] || (isDiag ? '2 working days' : '2-3 working days');\n\n// Parse estimates\nlet estimates = d.estimates || [];\nif (typeof estimates === 'string') {\n  try { estimates = JSON.parse(estimates); } catch(e) { estimates = []; }\n}\n\n// Badge\nconst badgeBg = isDiag ? '#fffbeb' : '#ecfdf5';\nconst badgeColor = isDiag ? '#92400e' : '#065f46';\nconst badgeText = isDiag ? 'Diagnostic required' : 'We can fix this';\nconst badgeIcon = isDiag ? '\\uD83D\\uDD0D' : '\\u2705';\n\n// Big price: show BASE when breakdown exists, TOTAL when not\nconst bigPrice = hasAddOns && basePrice > 0 ? fmtP(basePrice) : (fmtP(displayBase) || 'TBC');\n\n// Diagnostic estimates\nlet estimatesHtml = '';\nif (isDiag && estimates.length > 0) {\n  let rows = '';\n  for (const est of estimates) {\n    rows += `<div style=\"display: flex; justify-content: space-between; padding: 6px 0; font-size: 13px;\">\n      <span style=\"color: #4b5563;\">${est.label}</span>\n      <span style=\"color: #111827; font-weight: 600;\">${est.value}</span>\n    </div>`;\n  }\n  estimatesHtml = `<div style=\"background: #f8f9fb; border: 1px solid #e5e7eb; border-radius: 8px; padding: 14px 16px; margin: 0 20px 16px;\">${rows}</div>`;\n}\n\n// Cost breakdown (only when we have add-on data from new wizard)\nlet breakdownHtml = '';\nif (hasAddOns && basePrice > 0) {\n  let rows = '';\n  const baseLabel = isDiag ? 'Diagnostic' : (repairTitle.length > 40 ? 'Repair' : repairTitle);\n  rows += `<tr style=\"border-bottom: 1px solid #f3f4f6;\">\n    <td style=\"padding: 12px 20px; color: #111827; font-weight: 600; font-size: 14px;\">${baseLabel}</td>\n    <td style=\"padding: 12px 20px; color: #111827; font-weight: 600; font-size: 14px; text-align: right;\">${fmtP(basePrice)}</td>\n  </tr>`;\n  if (expressPrice > 0) {\n    rows += `<tr style=\"border-bottom: 1px solid #f3f4f6;\">\n      <td style=\"padding: 12px 20px; color: #111827; font-weight: 500; font-size: 14px;\">${d.expressName || 'Express turnaround'}</td>\n      <td style=\"padding: 12px 20px; color: #111827; font-weight: 600; font-size: 14px; text-align: right;\">+${fmtP(expressPrice)}</td>\n    </tr>`;\n  }\n  if (servicePrice > 0) {\n    rows += `<tr style=\"border-bottom: 1px solid #f3f4f6;\">\n      <td style=\"padding: 12px 20px; color: #111827; font-weight: 500; font-size: 14px;\">${serviceName}</td>\n      <td style=\"padding: 12px 20px; color: #111827; font-weight: 600; font-size: 14px; text-align: right;\">+${fmtP(servicePrice)}</td>\n    </tr>`;\n  }\n  rows += `<tr>\n    <td style=\"padding: 16px 20px; color: #111827; font-weight: 700; font-size: 16px;\">Total</td>\n    <td style=\"padding: 16px 20px; color: #111827; font-weight: 700; font-size: 20px; text-align: right;\">${fmtP(displayTotal)}</td>\n  </tr>`;\n  breakdownHtml = `<div style=\"border-top: 1px solid #e5e7eb;\"><table style=\"width: 100%; border-collapse: collapse;\">${rows}</table></div>`;\n}\n\nconst emailSubject = 'Your iCorrect Repair Quote: ' + (deviceModel || repairTitle);\n\nconst html = `<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 0; background-color: #ffffff;\">\n  <div style=\"text-align: center; padding: 32px 24px 24px; border-bottom: 1px solid #e5e7eb;\">\n    <h1 style=\"margin: 0; font-size: 26px; font-weight: 700; color: #000000; letter-spacing: -0.02em;\">iCorrect</h1>\n    <p style=\"margin: 6px 0 0; color: #6b7280; font-size: 13px; font-weight: 500; letter-spacing: 0.02em;\">Apple Microelectronics Repair Specialists</p>\n  </div>\n  <div style=\"padding: 32px 24px;\">\n    <p style=\"font-size: 16px; color: #111827; margin: 0 0 6px;\">Hi ${name},</p>\n    <p style=\"font-size: 15px; color: #4b5563; margin: 0 0 28px; line-height: 1.5;\">Here's your repair quote. This is valid for 30 days.</p>\n    <div style=\"background: #f9fafb; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden; margin-bottom: 28px;\">\n      <div style=\"padding: 14px 20px; background: ${badgeBg}; border-bottom: 1px solid #e5e7eb;\">\n        <span style=\"font-size: 12px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.05em; color: ${badgeColor};\">${badgeIcon} ${badgeText}</span>\n      </div>\n      <div style=\"padding: 20px 20px 0;\">\n        <h2 style=\"margin: 0 0 8px; font-size: 18px; font-weight: 700; color: #111827; line-height: 1.3;\">${repairTitle}</h2>\n        ${issue ? '<p style=\"margin: 0 0 16px; font-size: 14px; color: #6b7280; line-height: 1.5;\">' + issue + '</p>' : ''}\n      </div>\n      <div style=\"padding: 0 20px 16px;\">\n        <span style=\"font-size: 12px; color: #9ca3af; font-weight: 500;\">${hasAddOns ? 'From' : 'From'}</span>\n        <div style=\"font-size: 32px; font-weight: 700; color: #111827; letter-spacing: -0.02em;\">${bigPrice}</div>\n      </div>\n      ${estimatesHtml}\n      ${breakdownHtml}\n      <table style=\"width: 100%; border-collapse: collapse; font-size: 14px; border-top: 1px solid #e5e7eb;\">\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500; width: 120px;\">Device</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${device}</td>\n        </tr>\n        ${deviceColor ? '<tr style=\"border-bottom: 1px solid #f3f4f6;\"><td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Colour</td><td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">' + deviceColor + '</td></tr>' : ''}\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Fault</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${fault}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Turnaround</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${turnaround}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Service</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${serviceName}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Warranty</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${warranty}</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Parts</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${parts}</td>\n        </tr>\n      </table>\n    </div>\n    <div style=\"text-align: center; margin: 0 0 28px;\">\n      <a href=\"${productUrl}\" style=\"display: inline-block; background-color: #2563eb; color: #ffffff; padding: 14px 36px; text-decoration: none; border-radius: 8px; font-size: 15px; font-weight: 700; letter-spacing: -0.01em;\">Book Your Repair</a>\n    </div>\n    <div style=\"background: #f0f9ff; border: 1px solid #bfdbfe; border-radius: 8px; padding: 16px 20px; margin-bottom: 24px;\">\n      <p style=\"margin: 0 0 4px; font-size: 13px; font-weight: 700; color: #1e40af;\">Walk-in or Collection &amp; Delivery</p>\n      <p style=\"margin: 0; font-size: 13px; color: #3b82f6; line-height: 1.5;\">12 Margaret Street, Audley House, London W1W 8JQ<br>Mon-Thu 9am-6pm \\u00b7 Fri 10am-6pm \\u00b7 +44 (0)207 099 8517</p>\n    </div>\n    <p style=\"font-size: 14px; color: #6b7280; line-height: 1.5; margin: 0;\">Questions? Simply reply to this email and we'll get back to you.</p>\n  </div>\n  <div style=\"border-top: 1px solid #e5e7eb; padding: 24px; text-align: center;\">\n    <p style=\"margin: 0 0 4px; font-size: 12px; color: #9ca3af;\">iCorrect \\u00b7 Apple Microelectronics Repair Specialists \\u00b7 London</p>\n    <p style=\"margin: 0; font-size: 12px;\"><a href=\"https://www.icorrect.co.uk\" style=\"color: #2563eb; text-decoration: none;\">www.icorrect.co.uk</a></p>\n  </div>\n</div>`;\n\nreturn { json: { ...d, emailHtml: html, emailSubject } };"},"id":"d6c798fd-30b1-4e0c-82a0-07143bf89ac0","name":"Build Quote Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[20544,10320]},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ role: \"user\", email: $json.email, name: $json.name }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"66487989-59b5-4510-bcc9-2e1e956cf0dd","name":"Create Quote Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20544,10448],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst formData = $('Parse Form Data').first().json;\n\nlet contactId = null;\nif (resp.id) {\n  contactId = resp.id;\n} else if (resp.errors) {\n  const msg = (resp.errors[0] || {}).message || '';\n  const m = msg.match(/id=([a-f0-9]+)/);\n  if (m) contactId = m[1];\n}\n\nif (!contactId) return [];\n\nreturn {\n  json: {\n    contactId,\n    name: formData.name || '',\n    email: formData.email || '',\n    phone: formData.phone || '',\n    deviceType: formData.deviceType || '',\n    deviceModel: formData.deviceModel || '',\n    faultArea: formData.faultArea || '',\n    issue: formData.issue || '',\n    repairTitle: formData.repairTitle || '',\n    route: formData.route || '',\n    totalPrice: formData.totalPrice || ''\n  }\n};"},"id":"65c47402-7fce-4240-88cc-77a277c7fb3f","name":"Extract Quote Contact ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[20768,10448]},{"parameters":{"method":"PUT","url":"=https://api.intercom.io/contacts/{{ $json.contactId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.name, email: $json.email, phone: $json.phone || \"\", custom_attributes: { last_quote_device: ($json.deviceType || \"\") + ($json.deviceModel ? \" - \" + $json.deviceModel : \"\"), last_quote_fault: $json.faultArea || \"\", last_quote_issue: $json.issue || \"\", last_quote_repair: $json.repairTitle || \"\", last_quote_price: $json.totalPrice || \"\", last_quote_route: $json.route || \"\", last_quote_date: new Date().toISOString().split(\"T\")[0] } }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"ae6bfa3e-948a-46f4-846f-ef8674f204ac","name":"Update Quote Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20992,10448],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"fromEmail":"michael.f@icorrect.co.uk","toEmail":"support@icorrect.co.uk","subject":"=Quote Request: {{ $json.name }} - {{ $json.deviceModel || $json.deviceType || 'Repair' }}","emailFormat":"text","text":"=New quote emailed to {{ $json.email }}\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone || 'Not provided' }}\nDevice: {{ $json.deviceType }}{{ $json.deviceModel ? ' — ' + $json.deviceModel : '' }}\nFault: {{ $json.faultArea }}{{ $json.deviceColor ? '\\nDevice colour: ' + $json.deviceColor : '' }}\nIssue: {{ $json.issue }}\nRepair: {{ $json.repairTitle }}\nRoute: {{ $json.route }}\n\n--- Price breakdown ---\n{{ $json.repairTitle || 'Repair' }}: {{ $json.basePrice ? '£' + $json.basePrice : $json.totalPrice || $json.price || 'TBC' }}{{ $json.expressPrice > 0 ? '\\n' + ($json.expressName || 'Express') + ': +£' + $json.expressPrice : '' }}{{ $json.servicePrice > 0 ? '\\n' + ($json.serviceName || $json.serviceType || 'C&D') + ': +£' + $json.servicePrice : '' }}\nTotal: {{ $json.totalPrice || $json.price || 'TBC' }}\n\nService: {{ $json.serviceName || $json.serviceType || 'Walk-in' }}","options":{"appendAttribution":false,"replyTo":"={{ $json.email }}"}},"id":"544a3e27-5633-408f-ba47-9b4f18631b31","name":"Send Quote to Intercom","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[20768,10512],"webhookId":"ee8da3f6-18cf-4f26-9917-5441007a793e","credentials":{"smtp":{"id":"0zcClIPpgC3EHxSw","name":"SMTP account"}}}],"connections":{"Webhook - Receive Form":{"main":[[{"node":"Parse Form Data","type":"main","index":0}]]},"Parse Form Data":{"main":[[{"node":"Is Quote Email?","type":"main","index":0}]]},"Is Corporate?":{"main":[[{"node":"Create Corporate Contact","type":"main","index":0},{"node":"Return Corporate Success","type":"main","index":0}],[{"node":"Send Email to Intercom","type":"main","index":0},{"node":"Create Consumer Contact","type":"main","index":0}]]},"Send Email to Intercom":{"main":[[{"node":"Return Success","type":"main","index":0}]]},"Create Consumer Contact":{"main":[[{"node":"Extract Consumer Contact ID","type":"main","index":0}]]},"Extract Consumer Contact ID":{"main":[[{"node":"Update Consumer Contact","type":"main","index":0}]]},"Create Corporate Contact":{"main":[[{"node":"Extract Corporate Contact ID","type":"main","index":0}]]},"Extract Corporate Contact ID":{"main":[[{"node":"Create/Update Company","type":"main","index":0}]]},"Create/Update Company":{"main":[[{"node":"Extract Company ID","type":"main","index":0}]]},"Extract Company ID":{"main":[[{"node":"Attach Company to Contact","type":"main","index":0}]]},"Attach Company to Contact":{"main":[[{"node":"Prepare Corporate Ticket","type":"main","index":0}]]},"Prepare Corporate Ticket":{"main":[[{"node":"Create Intercom Ticket","type":"main","index":0}]]},"Create Intercom Ticket":{"main":[[{"node":"Prepare Slack Message","type":"main","index":0}]]},"Prepare Slack Message":{"main":[[{"node":"Send Slack Notification","type":"main","index":0}]]},"Is Quote Email?":{"main":[[{"node":"Build Quote Email HTML","type":"main","index":0},{"node":"Create Quote Contact","type":"main","index":0}],[{"node":"Is Corporate?","type":"main","index":0}]]},"Send Quote Email":{"main":[[{"node":"Return Quote Success","type":"main","index":0}]]},"Build Quote Email HTML":{"main":[[{"node":"Send Quote Email","type":"main","index":0},{"node":"Send Quote to Intercom","type":"main","index":0}]]},"Create Quote Contact":{"main":[[{"node":"Extract Quote Contact ID","type":"main","index":0}]]},"Extract Quote Contact ID":{"main":[[{"node":"Update Quote Contact","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"08ebb643-79f8-49e4-bf08-e0900cf393ad","activeVersionId":"08ebb643-79f8-49e4-bf08-e0900cf393ad","versionCounter":86,"triggerCount":1,"shared":[{"updatedAt":"2026-02-02T17:55:06.711Z","createdAt":"2026-02-02T17:55:06.711Z","role":"workflow:owner","workflowId":"tNQphRiUo0L8SdBn","projectId":"jRJ0ph9GTtOcM9ih","project":{"updatedAt":"2025-11-27T12:51:43.108Z","createdAt":"2025-11-27T12:49:31.055Z","id":"jRJ0ph9GTtOcM9ih","name":"Michael Ferrari <michael.f@icorrect.co.uk>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-27T12:49:31.057Z","createdAt":"2025-11-27T12:49:31.057Z","userId":"3cc846c4-226d-42cc-a343-014431d3ceb9","projectId":"jRJ0ph9GTtOcM9ih","user":{"updatedAt":"2026-03-30T07:45:18.000Z","createdAt":"2025-11-27T12:49:31.050Z","id":"3cc846c4-226d-42cc-a343-014431d3ceb9","email":"michael.f@icorrect.co.uk","firstName":"Michael","lastName":"Ferrari","personalizationAnswers":null,"settings":{"firstSuccessfulWorkflowId":"AubY0Rvhhvgp4GJ1","userActivated":true,"userActivatedAt":1767965888535,"npsSurvey":{"responded":true,"lastShownAt":1770028593017}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-29","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T17:06:44.272Z","createdAt":"2026-03-21T17:06:44.272Z","versionId":"08ebb643-79f8-49e4-bf08-e0900cf393ad","workflowId":"tNQphRiUo0L8SdBn","nodes":[{"parameters":{"httpMethod":"POST","path":"shopify-contact-form","responseMode":"responseNode","options":{"allowedOrigins":"https://icorrect.co.uk,https://www.icorrect.co.uk","rawBody":false}},"id":"f8d9b0d5-d616-4ec4-a131-ca368b1f9fad","name":"Webhook - Receive Form","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[19984,10560],"webhookId":"shopify-contact-form"},{"parameters":{"jsCode":"// Parse and validate the incoming form data\nconst input = $input.first().json;\nlet formData = input.body || input;\n\n// When sent as text/plain with no-cors, body arrives as a JSON string\nif (typeof formData === 'string') {\n  try { formData = JSON.parse(formData); } catch(e) { /* keep as-is */ }\n}\n\nconst extractField = (data, fieldName) => {\n  if (data[`contact[${fieldName}]`]) return data[`contact[${fieldName}]`];\n  if (data[fieldName]) return data[fieldName];\n  if (data.contact && data.contact[fieldName]) return data.contact[fieldName];\n  const camel = fieldName.replace(/_([a-z])/g, (_, c) => c.toUpperCase());\n  if (camel !== fieldName && data[camel]) return data[camel];\n  return null;\n};\n\nconst formatPhoneNumber = (phone) => {\n  if (!phone) return null;\n  let cleaned = phone.replace(/[^\\d+]/g, '');\n  if (!cleaned || cleaned.replace(/\\+/g, '').length === 0) return null;\n  if (cleaned.startsWith('0') && cleaned.length === 11) {\n    cleaned = '+44' + cleaned.substring(1);\n  } else if (cleaned.startsWith('44') && cleaned.length === 12) {\n    cleaned = '+' + cleaned;\n  } else if (cleaned.startsWith('+44')) {\n  } else if (cleaned.startsWith('+')) {\n  } else if (cleaned.length === 10 && !cleaned.startsWith('0')) {\n    cleaned = '+44' + cleaned;\n  } else if (cleaned.length >= 7 && cleaned.length <= 15) {\n    cleaned = '+' + cleaned;\n  } else {\n    return null;\n  }\n  const digitsOnly = cleaned.replace('+', '');\n  if (digitsOnly.length < 7 || digitsOnly.length > 15) return null;\n  if (!/^\\+\\d{7,15}$/.test(cleaned)) return null;\n  return cleaned;\n};\n\n// Common fields\nconst name = extractField(formData, 'name');\nconst email = extractField(formData, 'email');\nconst phone = extractField(formData, 'phone');\nconst message = extractField(formData, 'body');\nconst company = extractField(formData, 'company');\nconst isCorporate = !!company;\n\n// Device fields\nconst deviceType = extractField(formData, 'device_type');\nconst deviceModel = extractField(formData, 'device_model');\nconst faultArea = extractField(formData, 'fault_area');\n\n// Corporate fields\nconst jobTitle = extractField(formData, 'job_title');\nconst fleetSize = extractField(formData, 'fleet_size');\nconst sla = extractField(formData, 'sla');\nconst interestedDevices = extractField(formData, 'interested_devices');\nconst tags = extractField(formData, 'tags');\n\n// Quote wizard fields\nconst source = extractField(formData, 'source');\nconst repairTitle = extractField(formData, 'repair_title');\nconst issue = extractField(formData, 'issue');\nconst route = extractField(formData, 'route');\nconst isQuoteEmail = (source === 'quote-wizard-email-quote');\n\n// Pricing breakdown (from wizard DOM)\nconst basePrice = extractField(formData, 'base_price');\nconst expressName = extractField(formData, 'express_name');\nconst expressMeta = extractField(formData, 'express_meta');\nconst expressPrice = extractField(formData, 'express_price');\nconst serviceName = extractField(formData, 'service_name');\nconst servicePrice = extractField(formData, 'service_price');\nconst totalPrice = extractField(formData, 'total_price');\nconst turnaround = extractField(formData, 'turnaround');\nconst estimatesRaw = extractField(formData, 'estimates');\nconst warranty = extractField(formData, 'warranty');\nconst parts = extractField(formData, 'parts');\nconst productUrl = extractField(formData, 'productUrl');\nconst deviceColor = extractField(formData, 'deviceColor');\n\n// Legacy fallbacks for price/turnaround/serviceType\nconst legacyPrice = extractField(formData, 'price');\nconst legacyTurnaround = extractField(formData, 'turnaround');\nconst legacyServiceType = extractField(formData, 'service_type');\n\n// Parse estimates JSON\nlet estimates = [];\nif (estimatesRaw) {\n  try { estimates = JSON.parse(estimatesRaw); } catch(e) {}\n}\n\n// Validation\nif (!email) throw new Error('Email is required');\nif (!isQuoteEmail && !name) throw new Error('Name is required');\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email.trim())) throw new Error('Invalid email format');\nconst formattedPhone = formatPhoneNumber(phone);\nconst uniqueId = Date.now();\n\n// Build email subject and body for non-quote paths\nlet subject = '';\nlet body = '';\nif (isCorporate) {\n  subject = `Corporate Enquiry: ${company || name} [${uniqueId}]`;\n  body = `New corporate enquiry from ${name}`;\n  if (company) body += ` at ${company}`;\n  body += `\\n\\nEmail: ${email}\\nPhone: ${formattedPhone || 'Not provided'}`;\n  if (jobTitle) body += `\\nJob Title: ${jobTitle}`;\n  if (fleetSize) body += `\\nFleet Size: ${fleetSize}`;\n  if (sla) body += `\\nSLA: ${sla}`;\n  if (interestedDevices) body += `\\nInterested Devices: ${interestedDevices}`;\n  if (message) body += `\\n\\nMessage:\\n${message}`;\n} else {\n  subject = `Contact Form: ${name} - ${deviceModel || deviceType || 'Repair Enquiry'} [${uniqueId}]`;\n  body = `New enquiry from ${name}\\n\\nEmail: ${email}\\nPhone: ${formattedPhone || 'Not provided'}`;\n  if (deviceType) body += `\\nDevice: ${deviceType}`;\n  if (deviceModel) body += ` - ${deviceModel}`;\n  if (faultArea) body += `\\nFault Area: ${faultArea}`;\n  if (message) body += `\\n\\nMessage:\\n${message}`;\n}\n\nreturn {\n  json: {\n    name: name ? name.trim() : (email ? email.split('@')[0] : 'Quote Request'),\n    email: email.trim().toLowerCase(),\n    phone: formattedPhone,\n    deviceType: deviceType || null,\n    deviceModel: deviceModel || null,\n    faultArea: faultArea || null,\n    message: message || '',\n    company: company || null,\n    jobTitle: jobTitle || null,\n    fleetSize: fleetSize || null,\n    sla: sla || null,\n    interestedDevices: interestedDevices || null,\n    tags: tags || null,\n    isCorporate,\n    emailSubject: subject,\n    emailBody: body,\n    uniqueId,\n    timestamp: new Date().toISOString(),\n    source: source || null,\n    repairTitle: repairTitle || null,\n    issue: issue || null,\n    route: route || null,\n    isQuoteEmail,\n    // Pricing breakdown\n    basePrice: parseFloat(basePrice) || parseFloat(legacyPrice) || 0,\n    expressName: expressName || null,\n    expressMeta: expressMeta || null,\n    expressPrice: parseFloat(expressPrice) || 0,\n    serviceName: serviceName || legacyServiceType || 'Walk-in',\n    servicePrice: parseFloat(servicePrice) || 0,\n    totalPrice: totalPrice || legacyPrice || null,\n    turnaround: turnaround || legacyTurnaround || null,\n    estimates: estimates,\n    warranty: warranty || '2-year warranty',\n    parts: parts || 'Genuine Apple parts',\n    productUrl: productUrl || null,\n    deviceColor: deviceColor || null\n  }\n};"},"id":"c7a922dd-9711-4e2a-859c-aab0b291606b","name":"Parse Form Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[20192,10560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"is-corporate","leftValue":"={{ $json.isCorporate }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8dcd5478-38e6-434a-841a-7ca2d927ee3b","name":"Is Corporate?","type":"n8n-nodes-base.if","typeVersion":2,"position":[20544,10560]},{"parameters":{"fromEmail":"michael.f@icorrect.co.uk","toEmail":"support@icorrect.co.uk","subject":"={{ $json.emailSubject }}","emailFormat":"text","text":"={{ $json.emailBody }}","options":{"appendAttribution":false,"replyTo":"={{ $json.email }}"}},"id":"ed43ec78-dbac-4205-9ed6-a97da9a7c867","name":"Send Email to Intercom","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[20640,10400],"webhookId":"edecf1b3-8123-4283-aa24-e8f786599b2b","credentials":{"smtp":{"id":"0zcClIPpgC3EHxSw","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ role: \"user\", email: $(\"Parse Form Data\").item.json.email, name: $(\"Parse Form Data\").item.json.name }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"50a58bde-b059-46f5-b122-a277960eafa6","name":"Create Consumer Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20640,10592],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Extract the contact ID from Create Consumer Contact response\nconst contactResponse = $input.first().json;\nconst formData = $('Parse Form Data').first().json;\n\nlet customerContactId = null;\n\n// Case 1: Contact created successfully\nif (contactResponse.id) {\n  customerContactId = contactResponse.id;\n}\n\n// Case 2: Contact already exists - extract ID from error message\nif (!customerContactId && contactResponse.errors) {\n  const errorMsg = contactResponse.errors[0]?.message || '';\n  const match = errorMsg.match(/id=([a-f0-9]+)/);\n  if (match) {\n    customerContactId = match[1];\n  }\n}\n\nif (!customerContactId) {\n  throw new Error('Could not get contact ID: ' + JSON.stringify(contactResponse));\n}\n\nreturn {\n  json: {\n    customerContactId: customerContactId,\n    customerEmail: formData.email,\n    customerName: formData.name,\n    customerPhone: formData.phone,\n    emailSubject: formData.emailSubject\n  }\n};"},"id":"fbf51598-1d8e-45b3-8867-e8a05bde8948","name":"Extract Consumer Contact ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[20864,10592]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"message\": \"Your enquiry has been received. We will get back to you shortly.\"\n}","options":{"responseCode":200}},"id":"fdd2efdd-0cb1-4a3c-9b59-45de2629ca42","name":"Return Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20864,10400]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": false,\n  \"error\": \"We couldn't process your request. Please try again or contact us directly at support@icorrect.co.uk\"\n}","options":{"responseCode":400}},"id":"74229e0d-da14-426a-a935-ab7dd0fddb4a","name":"Return Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20192,10816]},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ role: \"user\", email: $(\"Parse Form Data\").item.json.email, name: $(\"Parse Form Data\").item.json.name }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"875bbb00-0195-4a51-8695-14af9b4919fa","name":"Create Corporate Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20640,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Extract the contact ID from Create Corporate Contact response\nconst contactResponse = $input.first().json;\nconst formData = $('Parse Form Data').first().json;\n\nlet contactId = null;\n\n// Case 1: Contact created successfully\nif (contactResponse.id) {\n  contactId = contactResponse.id;\n}\n\n// Case 2: Contact already exists - extract ID from error message\nif (!contactId && contactResponse.errors) {\n  const errorMsg = contactResponse.errors[0]?.message || '';\n  const match = errorMsg.match(/id=([a-f0-9]+)/);\n  if (match) {\n    contactId = match[1];\n  }\n}\n\nif (!contactId) {\n  throw new Error('Could not get corporate contact ID: ' + JSON.stringify(contactResponse));\n}\n\nreturn {\n  json: {\n    contactId,\n    ...formData\n  }\n};"},"id":"318dfd6a-a6c6-4a65-a17f-74b16a96e511","name":"Extract Corporate Contact ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[20864,10816]},{"parameters":{"method":"POST","url":"https://api.intercom.io/companies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.company, company_id: $json.company.toLowerCase().replace(/[^a-z0-9]/g, \"-\") }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"9102ea25-18d8-4172-8852-99e6f250beca","name":"Create/Update Company","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[21088,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Get company ID from response and pass through all data\nconst companyResponse = $input.first().json;\nconst prevData = $('Extract Corporate Contact ID').first().json;\n\nlet companyId = companyResponse.id || null;\n\nreturn {\n  json: {\n    companyId,\n    ...prevData\n  }\n};"},"id":"927133fd-b76e-4ba1-beee-498647ff168f","name":"Extract Company ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[21312,10816]},{"parameters":{"method":"POST","url":"=https://api.intercom.io/contacts/{{ $json.contactId }}/companies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ id: $json.companyId }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"daf9695e-5bbe-44db-9b9a-91d3eec35d61","name":"Attach Company to Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[21536,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Build the Intercom ticket with all corporate details\nconst prevData = $('Extract Company ID').first().json;\n\n// Build structured ticket description\nconst lines = [];\nlines.push(`Contact: ${prevData.name}`);\nlines.push(`Email: ${prevData.email}`);\nlines.push(`Phone: ${prevData.phone || 'Not provided'}`);\nlines.push(`Company: ${prevData.company}`);\nif (prevData.jobTitle) lines.push(`Job Title: ${prevData.jobTitle}`);\nif (prevData.fleetSize) lines.push(`Fleet Size: ${prevData.fleetSize}`);\nif (prevData.interestedDevices) lines.push(`Interested Devices: ${prevData.interestedDevices}`);\nif (prevData.sla) lines.push(`SLA Preference: ${prevData.sla}`);\nif (prevData.message) lines.push(`\\nMessage:\\n${prevData.message}`);\n\nconst ticketDescription = lines.join('\\n');\nconst ticketTitle = `Corporate Enquiry: ${prevData.company}`;\n\nreturn {\n  json: {\n    contactId: prevData.contactId,\n    companyId: prevData.companyId,\n    ticketTitle,\n    ticketDescription,\n    ...prevData\n  }\n};"},"id":"7575f0eb-fb52-4571-907f-8a8d211c567a","name":"Prepare Corporate Ticket","type":"n8n-nodes-base.code","typeVersion":2,"position":[21760,10816]},{"parameters":{"method":"POST","url":"https://api.intercom.io/tickets","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ ticket_type_id: 2985889, contacts: [{ id: $json.contactId }], ticket_attributes: { _default_title_: $json.ticketTitle, _default_description_: $json.ticketDescription } }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"7d72bc70-6733-4db1-906c-9cdea8eb1b5e","name":"Create Intercom Ticket","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[21984,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Build Slack message from all collected data\nconst prevData = $('Prepare Corporate Ticket').first().json;\nconst ticketResponse = $input.first().json;\nconst ticketId = ticketResponse?.ticket_id || ticketResponse?.id || 'N/A';\n\n// Build details as a single-column list\nconst lines = [];\nlines.push(`*Contact:* ${prevData.name}`);\nlines.push(`*Email:* ${prevData.email}`);\nlines.push(`*Phone:* ${prevData.phone || 'Not provided'}`);\nlines.push(`*Role:* ${prevData.jobTitle || 'Not provided'}`);\nlines.push(`*Company:* ${prevData.company}`);\nlines.push(`*Fleet Size:* ${prevData.fleetSize || 'Not provided'}`);\nlines.push(`*Interested Devices:* ${prevData.interestedDevices || 'Not provided'}`);\nlines.push(`*SLA Preference:* ${prevData.sla || 'Not provided'}`);\nif (prevData.message) {\n  lines.push(`*Message:* ${prevData.message}`);\n}\n\nconst slackBlocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: `\\u{1F3E2} New Corporate Enquiry: ${prevData.company}`,\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: lines.join('\\n')\n    }\n  },\n  {\n    type: 'divider'\n  },\n  {\n    type: 'context',\n    elements: [\n      { type: 'mrkdwn', text: `Intercom Ticket: #${ticketId}` }\n    ]\n  }\n];\n\nreturn {\n  json: {\n    channel: '#corporate-onboarding',\n    blocks: slackBlocks,\n    text: `New Corporate Enquiry from ${prevData.name} at ${prevData.company}`\n  }\n};"},"id":"18e189ab-65e5-4b63-a324-868e1c361606","name":"Prepare Slack Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[22208,10816]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: $json.channel, text: $json.text, blocks: $json.blocks }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"31d8d7ac-356c-4061-9c97-e878c059e1f6","name":"Send Slack Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[22432,10816],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"},"slackApi":{"id":"sxmejCcdtgLdlxBy","name":"Slack account 4"},"slackOAuth2Api":{"id":"Be0moa1JlZvCRZnY","name":"Slack account 5"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"message\": \"Your corporate enquiry has been received. Our team will be in touch shortly.\"\n}","options":{"responseCode":200}},"id":"12556315-029d-4f30-8e75-874236828c91","name":"Return Corporate Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20640,10720]},{"parameters":{"method":"PUT","url":"=https://api.intercom.io/contacts/{{ $json.customerContactId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.customerName, email: $json.customerEmail, phone: $json.customerPhone || \"\" }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"ac9e7bba-3276-4bce-a5d5-d362a39bae8e","name":"Update Consumer Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[21088,10592],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"is-quote-email","leftValue":"={{ $json.isQuoteEmail }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is Quote Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[20304,10560],"id":"fb179cdd-3222-4334-b3ba-da2ce296863b"},{"parameters":{"fromEmail":"michael.f@icorrect.co.uk","toEmail":"={{ $json.email }}","subject":"={{ $json.emailSubject }}","html":"={{ $json.emailHtml }}","options":{"appendAttribution":false,"replyTo":"support@icorrect.co.uk"}},"name":"Send Quote Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[20768,10320],"id":"ef81ad0d-d382-4455-bb08-f6cf055532ce","webhookId":"a5a08cc4-d9aa-423a-95fc-5746d65aa2e5","credentials":{"smtp":{"id":"0zcClIPpgC3EHxSw","name":"SMTP account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: 'Quote email sent' }) }}","options":{}},"name":"Return Quote Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20992,10320],"id":"26ff4392-fee8-4953-9abb-4a295c77452b"},{"parameters":{"jsCode":"const d = $input.first().json;\n\nconst name = d.name || 'there';\nconst route = d.route || 'repair';\nconst isDiag = route === 'diagnostic';\nconst repairTitle = d.repairTitle || 'Repair Quote';\nconst issue = d.issue || '';\nconst deviceType = d.deviceType || '';\nconst deviceModel = d.deviceModel || '';\nconst device = deviceModel ? (deviceType + ' \\u2014 ' + deviceModel) : (deviceType || '-');\nconst fault = d.faultArea || '-';\nconst warranty = d.warranty || '2-year warranty';\nconst parts = d.parts || 'Genuine Apple parts';\nconst deviceColor = d.deviceColor || null;\nconst productUrl = d.productUrl || 'https://www.icorrect.co.uk/#home-contact';\n\n// Product page URL for CTA\n\n// Prices — handle BOTH old wizard (price:\"£898\") and new wizard (basePrice:799)\nconst basePrice = parseFloat(d.basePrice) || 0;\nconst expressPrice = parseFloat(d.expressPrice) || 0;\nconst servicePrice = parseFloat(d.servicePrice) || 0;\nconst serviceName = d.serviceName || d.serviceType || 'Walk-in';\n\n// Total price: from new wizard or old wizard\nconst rawTotal = d.totalPrice || d.price || '';\n// Strip £ to get numeric total\nconst numericTotal = parseFloat(String(rawTotal).replace(/[^0-9.]/g, '')) || 0;\n// If we have add-ons, base is from basePrice. Otherwise use total.\nconst hasAddOns = expressPrice > 0 || servicePrice > 0;\nconst displayBase = basePrice > 0 ? basePrice : numericTotal;\nconst displayTotal = numericTotal || (basePrice + expressPrice + servicePrice);\n\nconst fmtP = (v) => {\n  const n = parseFloat(v);\n  if (isNaN(n) || n === 0) return null;\n  return '\\u00a3' + (n % 1 === 0 ? n.toString() : n.toFixed(2));\n};\n\n// Hardcoded turnaround\nconst TA = {\n  repair:     { iPhone: '2-4 hours', MacBook: '2-3 working days', iPad: '2-3 working days', 'Apple Watch': '2-3 working days' },\n  diagnostic: { iPhone: '2 working days', MacBook: '2 working days', iPad: '2 working days', 'Apple Watch': '2 working days' }\n};\nconst turnaround = (isDiag ? TA.diagnostic : TA.repair)[deviceType] || (isDiag ? '2 working days' : '2-3 working days');\n\n// Parse estimates\nlet estimates = d.estimates || [];\nif (typeof estimates === 'string') {\n  try { estimates = JSON.parse(estimates); } catch(e) { estimates = []; }\n}\n\n// Badge\nconst badgeBg = isDiag ? '#fffbeb' : '#ecfdf5';\nconst badgeColor = isDiag ? '#92400e' : '#065f46';\nconst badgeText = isDiag ? 'Diagnostic required' : 'We can fix this';\nconst badgeIcon = isDiag ? '\\uD83D\\uDD0D' : '\\u2705';\n\n// Big price: show BASE when breakdown exists, TOTAL when not\nconst bigPrice = hasAddOns && basePrice > 0 ? fmtP(basePrice) : (fmtP(displayBase) || 'TBC');\n\n// Diagnostic estimates\nlet estimatesHtml = '';\nif (isDiag && estimates.length > 0) {\n  let rows = '';\n  for (const est of estimates) {\n    rows += `<div style=\"display: flex; justify-content: space-between; padding: 6px 0; font-size: 13px;\">\n      <span style=\"color: #4b5563;\">${est.label}</span>\n      <span style=\"color: #111827; font-weight: 600;\">${est.value}</span>\n    </div>`;\n  }\n  estimatesHtml = `<div style=\"background: #f8f9fb; border: 1px solid #e5e7eb; border-radius: 8px; padding: 14px 16px; margin: 0 20px 16px;\">${rows}</div>`;\n}\n\n// Cost breakdown (only when we have add-on data from new wizard)\nlet breakdownHtml = '';\nif (hasAddOns && basePrice > 0) {\n  let rows = '';\n  const baseLabel = isDiag ? 'Diagnostic' : (repairTitle.length > 40 ? 'Repair' : repairTitle);\n  rows += `<tr style=\"border-bottom: 1px solid #f3f4f6;\">\n    <td style=\"padding: 12px 20px; color: #111827; font-weight: 600; font-size: 14px;\">${baseLabel}</td>\n    <td style=\"padding: 12px 20px; color: #111827; font-weight: 600; font-size: 14px; text-align: right;\">${fmtP(basePrice)}</td>\n  </tr>`;\n  if (expressPrice > 0) {\n    rows += `<tr style=\"border-bottom: 1px solid #f3f4f6;\">\n      <td style=\"padding: 12px 20px; color: #111827; font-weight: 500; font-size: 14px;\">${d.expressName || 'Express turnaround'}</td>\n      <td style=\"padding: 12px 20px; color: #111827; font-weight: 600; font-size: 14px; text-align: right;\">+${fmtP(expressPrice)}</td>\n    </tr>`;\n  }\n  if (servicePrice > 0) {\n    rows += `<tr style=\"border-bottom: 1px solid #f3f4f6;\">\n      <td style=\"padding: 12px 20px; color: #111827; font-weight: 500; font-size: 14px;\">${serviceName}</td>\n      <td style=\"padding: 12px 20px; color: #111827; font-weight: 600; font-size: 14px; text-align: right;\">+${fmtP(servicePrice)}</td>\n    </tr>`;\n  }\n  rows += `<tr>\n    <td style=\"padding: 16px 20px; color: #111827; font-weight: 700; font-size: 16px;\">Total</td>\n    <td style=\"padding: 16px 20px; color: #111827; font-weight: 700; font-size: 20px; text-align: right;\">${fmtP(displayTotal)}</td>\n  </tr>`;\n  breakdownHtml = `<div style=\"border-top: 1px solid #e5e7eb;\"><table style=\"width: 100%; border-collapse: collapse;\">${rows}</table></div>`;\n}\n\nconst emailSubject = 'Your iCorrect Repair Quote: ' + (deviceModel || repairTitle);\n\nconst html = `<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 0; background-color: #ffffff;\">\n  <div style=\"text-align: center; padding: 32px 24px 24px; border-bottom: 1px solid #e5e7eb;\">\n    <h1 style=\"margin: 0; font-size: 26px; font-weight: 700; color: #000000; letter-spacing: -0.02em;\">iCorrect</h1>\n    <p style=\"margin: 6px 0 0; color: #6b7280; font-size: 13px; font-weight: 500; letter-spacing: 0.02em;\">Apple Microelectronics Repair Specialists</p>\n  </div>\n  <div style=\"padding: 32px 24px;\">\n    <p style=\"font-size: 16px; color: #111827; margin: 0 0 6px;\">Hi ${name},</p>\n    <p style=\"font-size: 15px; color: #4b5563; margin: 0 0 28px; line-height: 1.5;\">Here's your repair quote. This is valid for 30 days.</p>\n    <div style=\"background: #f9fafb; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden; margin-bottom: 28px;\">\n      <div style=\"padding: 14px 20px; background: ${badgeBg}; border-bottom: 1px solid #e5e7eb;\">\n        <span style=\"font-size: 12px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.05em; color: ${badgeColor};\">${badgeIcon} ${badgeText}</span>\n      </div>\n      <div style=\"padding: 20px 20px 0;\">\n        <h2 style=\"margin: 0 0 8px; font-size: 18px; font-weight: 700; color: #111827; line-height: 1.3;\">${repairTitle}</h2>\n        ${issue ? '<p style=\"margin: 0 0 16px; font-size: 14px; color: #6b7280; line-height: 1.5;\">' + issue + '</p>' : ''}\n      </div>\n      <div style=\"padding: 0 20px 16px;\">\n        <span style=\"font-size: 12px; color: #9ca3af; font-weight: 500;\">${hasAddOns ? 'From' : 'From'}</span>\n        <div style=\"font-size: 32px; font-weight: 700; color: #111827; letter-spacing: -0.02em;\">${bigPrice}</div>\n      </div>\n      ${estimatesHtml}\n      ${breakdownHtml}\n      <table style=\"width: 100%; border-collapse: collapse; font-size: 14px; border-top: 1px solid #e5e7eb;\">\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500; width: 120px;\">Device</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${device}</td>\n        </tr>\n        ${deviceColor ? '<tr style=\"border-bottom: 1px solid #f3f4f6;\"><td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Colour</td><td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">' + deviceColor + '</td></tr>' : ''}\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Fault</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${fault}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Turnaround</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${turnaround}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Service</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${serviceName}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Warranty</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${warranty}</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 14px 20px; color: #6b7280; font-weight: 500;\">Parts</td>\n          <td style=\"padding: 14px 20px; color: #111827; font-weight: 600;\">${parts}</td>\n        </tr>\n      </table>\n    </div>\n    <div style=\"text-align: center; margin: 0 0 28px;\">\n      <a href=\"${productUrl}\" style=\"display: inline-block; background-color: #2563eb; color: #ffffff; padding: 14px 36px; text-decoration: none; border-radius: 8px; font-size: 15px; font-weight: 700; letter-spacing: -0.01em;\">Book Your Repair</a>\n    </div>\n    <div style=\"background: #f0f9ff; border: 1px solid #bfdbfe; border-radius: 8px; padding: 16px 20px; margin-bottom: 24px;\">\n      <p style=\"margin: 0 0 4px; font-size: 13px; font-weight: 700; color: #1e40af;\">Walk-in or Collection &amp; Delivery</p>\n      <p style=\"margin: 0; font-size: 13px; color: #3b82f6; line-height: 1.5;\">12 Margaret Street, Audley House, London W1W 8JQ<br>Mon-Thu 9am-6pm \\u00b7 Fri 10am-6pm \\u00b7 +44 (0)207 099 8517</p>\n    </div>\n    <p style=\"font-size: 14px; color: #6b7280; line-height: 1.5; margin: 0;\">Questions? Simply reply to this email and we'll get back to you.</p>\n  </div>\n  <div style=\"border-top: 1px solid #e5e7eb; padding: 24px; text-align: center;\">\n    <p style=\"margin: 0 0 4px; font-size: 12px; color: #9ca3af;\">iCorrect \\u00b7 Apple Microelectronics Repair Specialists \\u00b7 London</p>\n    <p style=\"margin: 0; font-size: 12px;\"><a href=\"https://www.icorrect.co.uk\" style=\"color: #2563eb; text-decoration: none;\">www.icorrect.co.uk</a></p>\n  </div>\n</div>`;\n\nreturn { json: { ...d, emailHtml: html, emailSubject } };"},"id":"d6c798fd-30b1-4e0c-82a0-07143bf89ac0","name":"Build Quote Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[20544,10320]},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ role: \"user\", email: $json.email, name: $json.name }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"66487989-59b5-4510-bcc9-2e1e956cf0dd","name":"Create Quote Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20544,10448],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst formData = $('Parse Form Data').first().json;\n\nlet contactId = null;\nif (resp.id) {\n  contactId = resp.id;\n} else if (resp.errors) {\n  const msg = (resp.errors[0] || {}).message || '';\n  const m = msg.match(/id=([a-f0-9]+)/);\n  if (m) contactId = m[1];\n}\n\nif (!contactId) return [];\n\nreturn {\n  json: {\n    contactId,\n    name: formData.name || '',\n    email: formData.email || '',\n    phone: formData.phone || '',\n    deviceType: formData.deviceType || '',\n    deviceModel: formData.deviceModel || '',\n    faultArea: formData.faultArea || '',\n    issue: formData.issue || '',\n    repairTitle: formData.repairTitle || '',\n    route: formData.route || '',\n    totalPrice: formData.totalPrice || ''\n  }\n};"},"id":"65c47402-7fce-4240-88cc-77a277c7fb3f","name":"Extract Quote Contact ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[20768,10448]},{"parameters":{"method":"PUT","url":"=https://api.intercom.io/contacts/{{ $json.contactId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.name, email: $json.email, phone: $json.phone || \"\", custom_attributes: { last_quote_device: ($json.deviceType || \"\") + ($json.deviceModel ? \" - \" + $json.deviceModel : \"\"), last_quote_fault: $json.faultArea || \"\", last_quote_issue: $json.issue || \"\", last_quote_repair: $json.repairTitle || \"\", last_quote_price: $json.totalPrice || \"\", last_quote_route: $json.route || \"\", last_quote_date: new Date().toISOString().split(\"T\")[0] } }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"ae6bfa3e-948a-46f4-846f-ef8674f204ac","name":"Update Quote Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20992,10448],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"fromEmail":"michael.f@icorrect.co.uk","toEmail":"support@icorrect.co.uk","subject":"=Quote Request: {{ $json.name }} - {{ $json.deviceModel || $json.deviceType || 'Repair' }}","emailFormat":"text","text":"=New quote emailed to {{ $json.email }}\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone || 'Not provided' }}\nDevice: {{ $json.deviceType }}{{ $json.deviceModel ? ' — ' + $json.deviceModel : '' }}\nFault: {{ $json.faultArea }}{{ $json.deviceColor ? '\\nDevice colour: ' + $json.deviceColor : '' }}\nIssue: {{ $json.issue }}\nRepair: {{ $json.repairTitle }}\nRoute: {{ $json.route }}\n\n--- Price breakdown ---\n{{ $json.repairTitle || 'Repair' }}: {{ $json.basePrice ? '£' + $json.basePrice : $json.totalPrice || $json.price || 'TBC' }}{{ $json.expressPrice > 0 ? '\\n' + ($json.expressName || 'Express') + ': +£' + $json.expressPrice : '' }}{{ $json.servicePrice > 0 ? '\\n' + ($json.serviceName || $json.serviceType || 'C&D') + ': +£' + $json.servicePrice : '' }}\nTotal: {{ $json.totalPrice || $json.price || 'TBC' }}\n\nService: {{ $json.serviceName || $json.serviceType || 'Walk-in' }}","options":{"appendAttribution":false,"replyTo":"={{ $json.email }}"}},"id":"544a3e27-5633-408f-ba47-9b4f18631b31","name":"Send Quote to Intercom","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[20768,10512],"webhookId":"ee8da3f6-18cf-4f26-9917-5441007a793e","credentials":{"smtp":{"id":"0zcClIPpgC3EHxSw","name":"SMTP account"}}}],"connections":{"Webhook - Receive Form":{"main":[[{"node":"Parse Form Data","type":"main","index":0}]]},"Parse Form Data":{"main":[[{"node":"Is Quote Email?","type":"main","index":0}]]},"Is Corporate?":{"main":[[{"node":"Create Corporate Contact","type":"main","index":0},{"node":"Return Corporate Success","type":"main","index":0}],[{"node":"Send Email to Intercom","type":"main","index":0},{"node":"Create Consumer Contact","type":"main","index":0}]]},"Send Email to Intercom":{"main":[[{"node":"Return Success","type":"main","index":0}]]},"Create Consumer Contact":{"main":[[{"node":"Extract Consumer Contact ID","type":"main","index":0}]]},"Extract Consumer Contact ID":{"main":[[{"node":"Update Consumer Contact","type":"main","index":0}]]},"Create Corporate Contact":{"main":[[{"node":"Extract Corporate Contact ID","type":"main","index":0}]]},"Extract Corporate Contact ID":{"main":[[{"node":"Create/Update Company","type":"main","index":0}]]},"Create/Update Company":{"main":[[{"node":"Extract Company ID","type":"main","index":0}]]},"Extract Company ID":{"main":[[{"node":"Attach Company to Contact","type":"main","index":0}]]},"Attach Company to Contact":{"main":[[{"node":"Prepare Corporate Ticket","type":"main","index":0}]]},"Prepare Corporate Ticket":{"main":[[{"node":"Create Intercom Ticket","type":"main","index":0}]]},"Create Intercom Ticket":{"main":[[{"node":"Prepare Slack Message","type":"main","index":0}]]},"Prepare Slack Message":{"main":[[{"node":"Send Slack Notification","type":"main","index":0}]]},"Is Quote Email?":{"main":[[{"node":"Build Quote Email HTML","type":"main","index":0},{"node":"Create Quote Contact","type":"main","index":0}],[{"node":"Is Corporate?","type":"main","index":0}]]},"Send Quote Email":{"main":[[{"node":"Return Quote Success","type":"main","index":0}]]},"Build Quote Email HTML":{"main":[[{"node":"Send Quote Email","type":"main","index":0},{"node":"Send Quote to Intercom","type":"main","index":0}]]},"Create Quote Contact":{"main":[[{"node":"Extract Quote Contact ID","type":"main","index":0}]]},"Extract Quote Contact ID":{"main":[[{"node":"Update Quote Contact","type":"main","index":0}]]}},"authors":"Michael Ferrari","name":null,"description":null}}