webhook-migration/discovery/n8n-exports/status-notifications.json
{"updatedAt":"2026-03-30T09:52:30.970Z","createdAt":"2026-02-04T17:12:11.243Z","id":"TDBSUDxpcW8e56y4","name":"Status Notifications → Intercom Email","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"status-notification","options":{}},"id":"022f3c7f-ac9f-4d75-bf5a-318883c9ab8c","name":"Webhook: Status Notification","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1568,-1328],"webhookId":"status-notification"},{"parameters":{"jsCode":"// Extract body data to top level for easier access\nconst body = $input.first().json.body;\n\n// Format booking time from Monday.com's display text (already in UK time)\nlet formattedBooking = 'TBC';\nif (body.columnValues?.bookingTime?.text) {\n  const raw = body.columnValues.bookingTime.text;\n  \n  const match = raw.match(/(\\d{4})-(\\d{2})-(\\d{2})\\s+(\\d{2}):(\\d{2})/);\n  if (match) {\n    const [, year, month, day, hours, minutes] = match.map(Number);\n    \n    const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\n    const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\n    \n    const date = new Date(Date.UTC(year, month - 1, day));\n    const dayName = days[date.getUTCDay()];\n    const monthName = months[month - 1];\n    \n    const ordinal = (d) => {\n      if (d > 3 && d < 21) return 'th';\n      switch (d % 10) {\n        case 1: return 'st';\n        case 2: return 'nd';\n        case 3: return 'rd';\n        default: return 'th';\n      }\n    };\n    \n    let hrs = hours;\n    const mins = minutes.toString().padStart(2, '0');\n    const ampm = hrs >= 12 ? 'PM' : 'AM';\n    hrs = hrs % 12 || 12;\n    const timeStr = `${hrs.toString().padStart(2, '0')}:${mins}${ampm}`;\n    \n    formattedBooking = `${dayName} ${day}${ordinal(day)} ${monthName} at ${timeStr}`;\n  } else {\n    formattedBooking = raw;\n  }\n}\n\nreturn {\n  json: {\n    eventType: body.eventType,\n    webhookType: body.webhookType,\n    itemId: body.itemId,\n    boardId: body.boardId,\n    itemName: body.itemName,\n    status: body.status,\n    previousStatus: body.previousStatus,\n    service: body.service,\n    clientType: body.clientType,\n    passcode: body.passcode,\n    email: body.columnValues?.email || '',\n    phone: body.columnValues?.phone || '',\n    company: body.columnValues?.company || '',\n    imeiSn: body.columnValues?.imeiSn || '',\n    formattedBooking: formattedBooking,\n    gophrLink: body.columnValues?.gophrLink || '',\n    gophrTimeWindow: body.columnValues?.gophrTimeWindow || '',\n    outboundTracking: body.columnValues?.outboundTracking || '',\n    intercomId: body.columnValues?.intercomId || '',\n    ticketUrl: body.columnValues?.ticketLink?.url || ''\n  }\n};"},"id":"15e59ab8-6649-4dfe-a709-f2e42c12a739","name":"Extract Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,-1328]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-intercom-id","leftValue":"={{ $json.intercomId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"4132a5f5-792c-4521-b7f4-1b4ee0ac23c7","name":"Has Intercom ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,-1328]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"received-walkin","operator":{"type":"string","operation":"equals"},"id":"e179d103-b3fb-4cda-9a9d-2e962dcac164"}],"combinator":"and"},"renameOutput":true,"outputKey":"received-walkin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"received-remote","operator":{"type":"string","operation":"equals"},"id":"c5df7993-7630-4908-832c-d34a95267358"}],"combinator":"and"},"renameOutput":true,"outputKey":"received-remote"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"booking-confirmed","operator":{"type":"string","operation":"equals"},"id":"963109bb-7568-49eb-9d27-34f01cfe949c"}],"combinator":"and"},"renameOutput":true,"outputKey":"booking-confirmed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"booking-confirmed-warranty","operator":{"type":"string","operation":"equals"},"id":"f731bd24-65ce-4c21-8b04-e723bf3552f1"}],"combinator":"and"},"renameOutput":true,"outputKey":"booking-warranty"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"courier-gophr","operator":{"type":"string","operation":"equals"},"id":"d601158d-715a-49c7-8c1f-89cbe0f3db7f"}],"combinator":"and"},"renameOutput":true,"outputKey":"courier-gophr"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"courier-mailin","operator":{"type":"string","operation":"equals"},"id":"9f4bd0ab-c804-474a-8ba2-c5f4ba2338b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"courier-mailin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"courier-warranty","operator":{"type":"string","operation":"equals"},"id":"d122b762-2ed6-4ace-8778-7a604baf7ccb"}],"combinator":"and"},"renameOutput":true,"outputKey":"courier-warranty"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"ready-walkin","operator":{"type":"string","operation":"equals"},"id":"d301ec84-7fa9-473a-a471-47db2d95f857"}],"combinator":"and"},"renameOutput":true,"outputKey":"ready-walkin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"ready-warranty","operator":{"type":"string","operation":"equals"},"id":"9b6d8626-6fcb-4fbe-a90e-d5c96fcd70e6"}],"combinator":"and"},"renameOutput":true,"outputKey":"ready-warranty"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"password-request","operator":{"type":"string","operation":"equals"},"id":"5f29658b-8a34-4f1e-8ca4-17a423852b2d"}],"combinator":"and"},"renameOutput":true,"outputKey":"password-with-code"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"password-request-empty","operator":{"type":"string","operation":"equals"},"id":"008d7601-1b33-4d9a-b3d2-287305fe9f68"}],"combinator":"and"},"renameOutput":true,"outputKey":"password-no-code"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"return-courier","operator":{"type":"string","operation":"equals"},"id":"return-courier-001"}],"combinator":"and"},"renameOutput":true,"outputKey":"return-courier"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"return-courier-warranty","operator":{"type":"string","operation":"equals"},"id":"return-courier-warranty-001"}],"combinator":"and"},"renameOutput":true,"outputKey":"return-courier-warranty"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"return-courier-gophr","operator":{"type":"string","operation":"equals"},"id":"return-courier-gophr-001"}],"combinator":"and"},"renameOutput":true,"outputKey":"return-courier-gophr"}]},"options":{}},"id":"6298a05f-d008-4366-a639-8416fd37d351","name":"Route by Notification Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-160,-1440]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nThank you for dropping off your device with iCorrect.\n\nYour device will be pre-tested and then join our repair queue - we will contact you before proceeding with our repair if we find any additional faults.\n\nIf you have any questions, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"eb6a07f3-5750-4905-8982-14a779fc1ff2","name":"Template: Received Walk-In","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-2352]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nThank you for sending your device for repair with iCorrect.\n\nYour device will be pre-tested and then join our repair queue - we will contact you before proceeding with our repair if we find any additional faults.\n\nIf you have any questions, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"7426408b-1ff4-45d4-988e-215cef0c853a","name":"Template: Received Remote","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-2144]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour appointment with iCorrect is booked for {{ $json.formattedBooking }}. Please give your name at reception on arrival.\n{{ $json.clientType === 'Corporate' ? '' : '\\nTo help us prepare and make your appointment as smooth as possible, please complete this short questionnaire about your device: https://form.typeform.com/to/sDieaFMs#monday_item_id=' + $json.itemId + '&conversation_id=' + $json.intercomId + '\\n' }}\nIf you haven't already paid online, we will take payment during your appointment. We accept card (including AMEX) and cash.\n\nThank you for choosing us for your repair, we look forward to seeing you.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"5bfae011-ac38-42be-8be4-bbe0f876f843","name":"Template: Booking Confirmed","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1936]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour warranty appointment with iCorrect is booked for {{ $json.formattedBooking }}. Please give your name at reception on arrival.\n\nIf you have any questions in the meantime, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"47f6193f-0f65-4f96-ba3a-0c6cbe44f3ca","name":"Template: Booking Warranty","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1728]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour courier has now been arranged.\n\nYou can track your collection here: {{ $json.gophrLink || 'Link not available' }}\n\nYour collection time window is: {{ $json.gophrTimeWindow || 'To be confirmed' }}\n{{ $json.clientType === 'Corporate' ? '' : '\\nIMPORTANT! There is essential information we need before we can begin your repair. Please complete this form before your device arrives:\\u00a0\\n\\nhttps://form.typeform.com/to/sDieaFMs#monday_item_id=' + $json.itemId + '&conversation_id=' + $json.intercomId + '\\n' }}\nIf you have any questions, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"1c7f2e5e-ddc6-413a-9982-cf4f3b8c64e4","name":"Template: Courier Gophr","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1520]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour packaging has been shipped via Royal Mail Tracked 24. Your delivery can be tracked using this link:\nhttps://www.royalmail.com/track-your-item#/tracking-results/{{ ($json.outboundTracking || '').replace(/ /g, '') }}\n\nWhen your packaging arrives, please follow these steps:\n1. Cover the shipping label on the box with the label included.\n2. Place your device inside the inflated sleeve. Do not include any accessories, such as chargers, cases, bags.\n3. Tape the box shut.\n\nYou can drop your package at a Post Office or Parcelshop, or reply to this email to arrange a collection. Requests must be made before 4pm for next-day collections.\n{{ $json.clientType === 'Corporate' ? '' : '\\nIMPORTANT: There is essential information we need before we can begin your repair. Please complete this form before your device arrives: https://form.typeform.com/to/sDieaFMs#monday_item_id=' + $json.itemId + '&conversation_id=' + $json.intercomId + '\\n' }}\nIf you have any questions, just let us know.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"bf16aa43-3567-47f1-9d44-bd79bb582547","name":"Template: Courier Mail-In","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1312]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour packaging has been shipped via Royal Mail Tracked 24. Your delivery can be tracked using this link:\nhttps://www.royalmail.com/track-your-item#/tracking-results/{{ ($json.outboundTracking || '').replace(/ /g, '') }}\n\nWhen your packaging arrives, please follow these steps:\n1. Cover the shipping label on the box with the label included.\n2. Place your device inside the inflated sleeve. Do not include any accessories, such as chargers, cases, bags.\n3. Tape the box shut.\n\nYou can drop your package at a Post Office or Parcelshop, or reply to this email to arrange a collection. Requests must be made before 4pm for next-day collections.\n\nIf you have any questions, just let us know.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"7a5a3ccf-50fc-4f21-81e3-a0d3370b7e51","name":"Template: Courier Warranty","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1104]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nThank you for arranging your repair with iCorrect. Your repair has been completed and your device is ready for collection.\n\nOur collection opening hours are:\n- Monday – Thursday: 9:30am - 5:30pm\n- Friday: 10am - 5:30pm\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"3dd2f5e5-cde7-4392-ac96-4095c9b24738","name":"Template: Ready Walk-In","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-896]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nWe have completed your warranty repair and your device is ready for collection.\n\nOur collection opening hours are:\n- Monday – Thursday: 9:30am - 5:30pm\n- Friday: 10am - 5:30pm\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"0e6bcff3-b296-40e7-99b8-55a21d26a397","name":"Template: Ready Warranty","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-688]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nWe are unable to unlock your device using the login information that you have provided: \"{{ $json.passcode }}\"\n\nCould you please let us know if we have recorded your password incorrectly, or if you have another password that we could try?\n\nIf you prefer not to provide this information through email, please call us on 02070998517.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"f1e9c6c7-b99c-4627-8125-9e209a8a5f1c","name":"Template: Password With Code","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-480]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nWe need to unlock your device in order to fully test it before and after our repair and currently don't have any login information.\n\nPlease could you reply to this email or call us on 02070998517 to provide your password, or let us know if you are unable to provide access to your device.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"f11dc12b-410b-4c78-927e-10479768eca0","name":"Template: Password No Code","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-272]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nThank you for arranging your repair with iCorrect - your device is on the way back to you, please use the link below to track your delivery:\n\nhttps://www.royalmail.com/track-your-item#/tracking-results/{{ ($json.outboundTracking || '').replace(/ /g, '') }}\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"06ba4726-d819-4c66-b427-4cdeca2fe179","name":"Template: Return Courier","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-64]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour warranty repair has been completed and we have arranged for your device to be delivered back to you via Royal Mail.\n\nTo view the tracking information, please use the following link:\n\nhttps://www.royalmail.com/track-your-item#/tracking-results/{{ ($json.outboundTracking || '').replace(/ /g, '') }}\n\nShould you have any problems with the delivery, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"f79d51ab-0877-4e23-b166-df7cfbea143a","name":"Template: Return Courier Warranty","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,144]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour repair has been completed and your device is on the way back to you via courier.\n\nYou can track your delivery here: {{ $json.gophrLink || 'Link not available' }}\n\nYour delivery time window is: {{ $json.gophrTimeWindow || 'To be confirmed' }}\n\nShould you have any problems with the delivery, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"96eedb59-00ed-41b1-87ee-b1c89749a087","name":"Template: Return Courier Gophr","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,352]},{"parameters":{},"id":"53c7125b-9ea0-4304-a975-6a44d7c9c172","name":"Merge All Templates","type":"n8n-nodes-base.merge","typeVersion":3,"position":[336,-1328]},{"parameters":{"method":"POST","url":"=https://api.intercom.io/conversations/{{ $json.intercomId }}/reply","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message_type\": \"comment\",\n  \"type\": \"admin\",\n  \"admin_id\": \"9702337\",\n  \"body\": {{ JSON.stringify($json.emailBody) }}\n}","options":{}},"id":"422b385c-a1e7-4bea-b518-8d7fcedebd09","name":"Send Intercom Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-1328],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"assignments":{"assignments":[{"id":"result","name":"result","value":"=Email sent successfully","type":"string"}]},"options":{}},"id":"f995f5a7-feca-402e-b0b1-570630a74fcd","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,-1328]},{"parameters":{"assignments":{"assignments":[{"id":"result","name":"result","value":"No Intercom ID - notification skipped","type":"string"}]},"options":{}},"id":"5b6a780c-e40b-4799-b79a-33c65da5218b","name":"No Intercom ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-928]},{"parameters":{"url":"=https://api.intercom.io/conversations/{{ $json.intercomId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"options":{}},"id":"93efc282-b009-40dc-85ad-290b9d2e20bb","name":"Fetch Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,-1328],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.intercom.io/contacts/{{ $json.contacts?.contacts?.[0]?.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"options":{}},"id":"3548747a-2487-455e-8e0d-e03a7b12007a","name":"Fetch Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-1328],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Get original data from Extract Data node\nconst originalData = $('Extract Data').first().json;\n\n// Get contact info from Intercom API response\nconst contact = $input.first().json;\n\n// Extract first name from Intercom contact\n// Falls back to Monday item name if Intercom name unavailable\nlet contactFirstName = originalData.itemName; // default fallback\n\nif (contact?.name) {\n  // Intercom contact has a name - take the first name only\n  contactFirstName = contact.name.split(' ')[0];\n} else if (contact?.first_name) {\n  // Some Intercom versions use first_name directly\n  contactFirstName = contact.first_name;\n}\n\nreturn {\n  json: {\n    ...originalData,\n    contactFirstName: contactFirstName\n  }\n};"},"id":"3fb6a21f-5d78-4564-867e-39221067b467","name":"Merge Contact Name","type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-1328]}],"connections":{"Webhook: Status Notification":{"main":[[{"node":"Extract Data","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Has Intercom ID?","type":"main","index":0}]]},"Has Intercom ID?":{"main":[[{"node":"Fetch Conversation","type":"main","index":0}],[{"node":"No Intercom ID","type":"main","index":0}]]},"Route by Notification Type":{"main":[[{"node":"Template: Received Walk-In","type":"main","index":0}],[{"node":"Template: Received Remote","type":"main","index":0}],[{"node":"Template: Booking Confirmed","type":"main","index":0}],[{"node":"Template: Booking Warranty","type":"main","index":0}],[{"node":"Template: Courier Gophr","type":"main","index":0}],[{"node":"Template: Courier Mail-In","type":"main","index":0}],[{"node":"Template: Courier Warranty","type":"main","index":0}],[{"node":"Template: Ready Walk-In","type":"main","index":0}],[{"node":"Template: Ready Warranty","type":"main","index":0}],[{"node":"Template: Password With Code","type":"main","index":0}],[{"node":"Template: Password No Code","type":"main","index":0}],[{"node":"Template: Return Courier","type":"main","index":0}],[{"node":"Template: Return Courier Warranty","type":"main","index":0}],[{"node":"Template: Return Courier Gophr","type":"main","index":0}]]},"Template: Received Walk-In":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Received Remote":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Booking Confirmed":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Booking Warranty":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Courier Gophr":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Courier Mail-In":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Courier Warranty":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Ready Walk-In":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Ready Warranty":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Password With Code":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Password No Code":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Return Courier":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Return Courier Warranty":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Return Courier Gophr":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Merge All Templates":{"main":[[{"node":"Send Intercom Reply","type":"main","index":0}]]},"Send Intercom Reply":{"main":[[{"node":"Success","type":"main","index":0}]]},"Fetch Conversation":{"main":[[{"node":"Fetch Contact","type":"main","index":0}]]},"Fetch Contact":{"main":[[{"node":"Merge Contact Name","type":"main","index":0}]]},"Merge Contact Name":{"main":[[{"node":"Route by Notification Type","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook: Status Notification":[{"json":{"headers":{"host":"icorrect.app.n8n.cloud","content-length":"706","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1; subreqs=2","cf-connecting-ip":"2a06:98c0:3600::103","cf-ew-via":"14","cf-ipcountry":"US","cf-ray":"9e2dd4aa6fb82959-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-forwarded-for":"2a06:98c0:3600::103, 104.23.209.29","x-forwarded-host":"icorrect.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-27-78f66666bf-2hfm5","x-is-trusted":"yes","x-real-ip":"2a06:98c0:3600::103"},"params":{},"query":{},"body":{"eventType":"status_change","webhookType":"booking-confirmed","itemId":11611289090,"boardId":349212843,"itemName":"Niki Freeman","status":"Booking Confirmed","previousStatus":"","service":"Walk-In","clientType":"End User","passcode":"","columnValues":{"email":"niki.j.freeman@gmail.com","phone":"+447305864516","company":"","imeiSn":"LYK27T9F2F","bookingTime":{"date":"2026-04-08","time":"15:00:00","changed_at":"2026-03-27T10:49:28.239Z"},"gophrLink":"","gophrTimeWindow":"","outboundTracking":"","intercomId":"215473610825781","ticketLink":{"url":"https://app.intercom.com/a/inbox/pt6lwaq6/inbox/conversation/215473610825781","text":"Intercom","changed_at":null}},"timestamp":"2026-03-27T10:49:50.378Z"},"webhookUrl":"https://icorrect.app.n8n.cloud/webhook/status-notification","executionMode":"production"}}]},"versionId":"3d50af8b-2ffe-4ff4-b116-0643a6abcebc","activeVersionId":"3d50af8b-2ffe-4ff4-b116-0643a6abcebc","versionCounter":57,"triggerCount":1,"shared":[{"updatedAt":"2026-02-04T17:12:11.247Z","createdAt":"2026-02-04T17:12:11.247Z","role":"workflow:owner","workflowId":"TDBSUDxpcW8e56y4","projectId":"jRJ0ph9GTtOcM9ih","project":{"updatedAt":"2025-11-27T12:51:43.108Z","createdAt":"2025-11-27T12:49:31.055Z","id":"jRJ0ph9GTtOcM9ih","name":"Michael Ferrari <michael.f@icorrect.co.uk>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-27T12:49:31.057Z","createdAt":"2025-11-27T12:49:31.057Z","userId":"3cc846c4-226d-42cc-a343-014431d3ceb9","projectId":"jRJ0ph9GTtOcM9ih","user":{"updatedAt":"2026-03-30T07:45:18.000Z","createdAt":"2025-11-27T12:49:31.050Z","id":"3cc846c4-226d-42cc-a343-014431d3ceb9","email":"michael.f@icorrect.co.uk","firstName":"Michael","lastName":"Ferrari","personalizationAnswers":null,"settings":{"firstSuccessfulWorkflowId":"AubY0Rvhhvgp4GJ1","userActivated":true,"userActivatedAt":1767965888535,"npsSurvey":{"responded":true,"lastShownAt":1770028593017}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-29","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-30T09:52:30.973Z","createdAt":"2026-03-30T09:52:30.973Z","versionId":"3d50af8b-2ffe-4ff4-b116-0643a6abcebc","workflowId":"TDBSUDxpcW8e56y4","nodes":[{"parameters":{"httpMethod":"POST","path":"status-notification","options":{}},"id":"022f3c7f-ac9f-4d75-bf5a-318883c9ab8c","name":"Webhook: Status Notification","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1568,-1328],"webhookId":"status-notification"},{"parameters":{"jsCode":"// Extract body data to top level for easier access\nconst body = $input.first().json.body;\n\n// Format booking time from Monday.com's display text (already in UK time)\nlet formattedBooking = 'TBC';\nif (body.columnValues?.bookingTime?.text) {\n  const raw = body.columnValues.bookingTime.text;\n  \n  const match = raw.match(/(\\d{4})-(\\d{2})-(\\d{2})\\s+(\\d{2}):(\\d{2})/);\n  if (match) {\n    const [, year, month, day, hours, minutes] = match.map(Number);\n    \n    const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\n    const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\n    \n    const date = new Date(Date.UTC(year, month - 1, day));\n    const dayName = days[date.getUTCDay()];\n    const monthName = months[month - 1];\n    \n    const ordinal = (d) => {\n      if (d > 3 && d < 21) return 'th';\n      switch (d % 10) {\n        case 1: return 'st';\n        case 2: return 'nd';\n        case 3: return 'rd';\n        default: return 'th';\n      }\n    };\n    \n    let hrs = hours;\n    const mins = minutes.toString().padStart(2, '0');\n    const ampm = hrs >= 12 ? 'PM' : 'AM';\n    hrs = hrs % 12 || 12;\n    const timeStr = `${hrs.toString().padStart(2, '0')}:${mins}${ampm}`;\n    \n    formattedBooking = `${dayName} ${day}${ordinal(day)} ${monthName} at ${timeStr}`;\n  } else {\n    formattedBooking = raw;\n  }\n}\n\nreturn {\n  json: {\n    eventType: body.eventType,\n    webhookType: body.webhookType,\n    itemId: body.itemId,\n    boardId: body.boardId,\n    itemName: body.itemName,\n    status: body.status,\n    previousStatus: body.previousStatus,\n    service: body.service,\n    clientType: body.clientType,\n    passcode: body.passcode,\n    email: body.columnValues?.email || '',\n    phone: body.columnValues?.phone || '',\n    company: body.columnValues?.company || '',\n    imeiSn: body.columnValues?.imeiSn || '',\n    formattedBooking: formattedBooking,\n    gophrLink: body.columnValues?.gophrLink || '',\n    gophrTimeWindow: body.columnValues?.gophrTimeWindow || '',\n    outboundTracking: body.columnValues?.outboundTracking || '',\n    intercomId: body.columnValues?.intercomId || '',\n    ticketUrl: body.columnValues?.ticketLink?.url || ''\n  }\n};"},"id":"15e59ab8-6649-4dfe-a709-f2e42c12a739","name":"Extract Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,-1328]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-intercom-id","leftValue":"={{ $json.intercomId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"4132a5f5-792c-4521-b7f4-1b4ee0ac23c7","name":"Has Intercom ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,-1328]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"received-walkin","operator":{"type":"string","operation":"equals"},"id":"e179d103-b3fb-4cda-9a9d-2e962dcac164"}],"combinator":"and"},"renameOutput":true,"outputKey":"received-walkin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"received-remote","operator":{"type":"string","operation":"equals"},"id":"c5df7993-7630-4908-832c-d34a95267358"}],"combinator":"and"},"renameOutput":true,"outputKey":"received-remote"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"booking-confirmed","operator":{"type":"string","operation":"equals"},"id":"963109bb-7568-49eb-9d27-34f01cfe949c"}],"combinator":"and"},"renameOutput":true,"outputKey":"booking-confirmed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"booking-confirmed-warranty","operator":{"type":"string","operation":"equals"},"id":"f731bd24-65ce-4c21-8b04-e723bf3552f1"}],"combinator":"and"},"renameOutput":true,"outputKey":"booking-warranty"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"courier-gophr","operator":{"type":"string","operation":"equals"},"id":"d601158d-715a-49c7-8c1f-89cbe0f3db7f"}],"combinator":"and"},"renameOutput":true,"outputKey":"courier-gophr"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"courier-mailin","operator":{"type":"string","operation":"equals"},"id":"9f4bd0ab-c804-474a-8ba2-c5f4ba2338b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"courier-mailin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"courier-warranty","operator":{"type":"string","operation":"equals"},"id":"d122b762-2ed6-4ace-8778-7a604baf7ccb"}],"combinator":"and"},"renameOutput":true,"outputKey":"courier-warranty"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"ready-walkin","operator":{"type":"string","operation":"equals"},"id":"d301ec84-7fa9-473a-a471-47db2d95f857"}],"combinator":"and"},"renameOutput":true,"outputKey":"ready-walkin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"ready-warranty","operator":{"type":"string","operation":"equals"},"id":"9b6d8626-6fcb-4fbe-a90e-d5c96fcd70e6"}],"combinator":"and"},"renameOutput":true,"outputKey":"ready-warranty"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"password-request","operator":{"type":"string","operation":"equals"},"id":"5f29658b-8a34-4f1e-8ca4-17a423852b2d"}],"combinator":"and"},"renameOutput":true,"outputKey":"password-with-code"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"password-request-empty","operator":{"type":"string","operation":"equals"},"id":"008d7601-1b33-4d9a-b3d2-287305fe9f68"}],"combinator":"and"},"renameOutput":true,"outputKey":"password-no-code"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"return-courier","operator":{"type":"string","operation":"equals"},"id":"return-courier-001"}],"combinator":"and"},"renameOutput":true,"outputKey":"return-courier"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"return-courier-warranty","operator":{"type":"string","operation":"equals"},"id":"return-courier-warranty-001"}],"combinator":"and"},"renameOutput":true,"outputKey":"return-courier-warranty"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.webhookType }}","rightValue":"return-courier-gophr","operator":{"type":"string","operation":"equals"},"id":"return-courier-gophr-001"}],"combinator":"and"},"renameOutput":true,"outputKey":"return-courier-gophr"}]},"options":{}},"id":"6298a05f-d008-4366-a639-8416fd37d351","name":"Route by Notification Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-160,-1440]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nThank you for dropping off your device with iCorrect.\n\nYour device will be pre-tested and then join our repair queue - we will contact you before proceeding with our repair if we find any additional faults.\n\nIf you have any questions, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"eb6a07f3-5750-4905-8982-14a779fc1ff2","name":"Template: Received Walk-In","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-2352]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nThank you for sending your device for repair with iCorrect.\n\nYour device will be pre-tested and then join our repair queue - we will contact you before proceeding with our repair if we find any additional faults.\n\nIf you have any questions, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"7426408b-1ff4-45d4-988e-215cef0c853a","name":"Template: Received Remote","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-2144]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour appointment with iCorrect is booked for {{ $json.formattedBooking }}. Please give your name at reception on arrival.\n{{ $json.clientType === 'Corporate' ? '' : '\\nTo help us prepare and make your appointment as smooth as possible, please complete this short questionnaire about your device: https://form.typeform.com/to/sDieaFMs#monday_item_id=' + $json.itemId + '&conversation_id=' + $json.intercomId + '\\n' }}\nIf you haven't already paid online, we will take payment during your appointment. We accept card (including AMEX) and cash.\n\nThank you for choosing us for your repair, we look forward to seeing you.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"5bfae011-ac38-42be-8be4-bbe0f876f843","name":"Template: Booking Confirmed","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1936]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour warranty appointment with iCorrect is booked for {{ $json.formattedBooking }}. Please give your name at reception on arrival.\n\nIf you have any questions in the meantime, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"47f6193f-0f65-4f96-ba3a-0c6cbe44f3ca","name":"Template: Booking Warranty","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1728]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour courier has now been arranged.\n\nYou can track your collection here: {{ $json.gophrLink || 'Link not available' }}\n\nYour collection time window is: {{ $json.gophrTimeWindow || 'To be confirmed' }}\n{{ $json.clientType === 'Corporate' ? '' : '\\nIMPORTANT! There is essential information we need before we can begin your repair. Please complete this form before your device arrives:\\u00a0\\n\\nhttps://form.typeform.com/to/sDieaFMs#monday_item_id=' + $json.itemId + '&conversation_id=' + $json.intercomId + '\\n' }}\nIf you have any questions, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"1c7f2e5e-ddc6-413a-9982-cf4f3b8c64e4","name":"Template: Courier Gophr","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1520]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour packaging has been shipped via Royal Mail Tracked 24. Your delivery can be tracked using this link:\nhttps://www.royalmail.com/track-your-item#/tracking-results/{{ ($json.outboundTracking || '').replace(/ /g, '') }}\n\nWhen your packaging arrives, please follow these steps:\n1. Cover the shipping label on the box with the label included.\n2. Place your device inside the inflated sleeve. Do not include any accessories, such as chargers, cases, bags.\n3. Tape the box shut.\n\nYou can drop your package at a Post Office or Parcelshop, or reply to this email to arrange a collection. Requests must be made before 4pm for next-day collections.\n{{ $json.clientType === 'Corporate' ? '' : '\\nIMPORTANT: There is essential information we need before we can begin your repair. Please complete this form before your device arrives: https://form.typeform.com/to/sDieaFMs#monday_item_id=' + $json.itemId + '&conversation_id=' + $json.intercomId + '\\n' }}\nIf you have any questions, just let us know.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"bf16aa43-3567-47f1-9d44-bd79bb582547","name":"Template: Courier Mail-In","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1312]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour packaging has been shipped via Royal Mail Tracked 24. Your delivery can be tracked using this link:\nhttps://www.royalmail.com/track-your-item#/tracking-results/{{ ($json.outboundTracking || '').replace(/ /g, '') }}\n\nWhen your packaging arrives, please follow these steps:\n1. Cover the shipping label on the box with the label included.\n2. Place your device inside the inflated sleeve. Do not include any accessories, such as chargers, cases, bags.\n3. Tape the box shut.\n\nYou can drop your package at a Post Office or Parcelshop, or reply to this email to arrange a collection. Requests must be made before 4pm for next-day collections.\n\nIf you have any questions, just let us know.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"7a5a3ccf-50fc-4f21-81e3-a0d3370b7e51","name":"Template: Courier Warranty","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-1104]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nThank you for arranging your repair with iCorrect. Your repair has been completed and your device is ready for collection.\n\nOur collection opening hours are:\n- Monday – Thursday: 9:30am - 5:30pm\n- Friday: 10am - 5:30pm\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"3dd2f5e5-cde7-4392-ac96-4095c9b24738","name":"Template: Ready Walk-In","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-896]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nWe have completed your warranty repair and your device is ready for collection.\n\nOur collection opening hours are:\n- Monday – Thursday: 9:30am - 5:30pm\n- Friday: 10am - 5:30pm\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"0e6bcff3-b296-40e7-99b8-55a21d26a397","name":"Template: Ready Warranty","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-688]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nWe are unable to unlock your device using the login information that you have provided: \"{{ $json.passcode }}\"\n\nCould you please let us know if we have recorded your password incorrectly, or if you have another password that we could try?\n\nIf you prefer not to provide this information through email, please call us on 02070998517.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"f1e9c6c7-b99c-4627-8125-9e209a8a5f1c","name":"Template: Password With Code","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-480]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nWe need to unlock your device in order to fully test it before and after our repair and currently don't have any login information.\n\nPlease could you reply to this email or call us on 02070998517 to provide your password, or let us know if you are unable to provide access to your device.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"f11dc12b-410b-4c78-927e-10479768eca0","name":"Template: Password No Code","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-272]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nThank you for arranging your repair with iCorrect - your device is on the way back to you, please use the link below to track your delivery:\n\nhttps://www.royalmail.com/track-your-item#/tracking-results/{{ ($json.outboundTracking || '').replace(/ /g, '') }}\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"06ba4726-d819-4c66-b427-4cdeca2fe179","name":"Template: Return Courier","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-64]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour warranty repair has been completed and we have arranged for your device to be delivered back to you via Royal Mail.\n\nTo view the tracking information, please use the following link:\n\nhttps://www.royalmail.com/track-your-item#/tracking-results/{{ ($json.outboundTracking || '').replace(/ /g, '') }}\n\nShould you have any problems with the delivery, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"f79d51ab-0877-4e23-b166-df7cfbea143a","name":"Template: Return Courier Warranty","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,144]},{"parameters":{"assignments":{"assignments":[{"id":"email-body","name":"emailBody","value":"=Hi {{ $json.contactFirstName }},\n\nYour repair has been completed and your device is on the way back to you via courier.\n\nYou can track your delivery here: {{ $json.gophrLink || 'Link not available' }}\n\nYour delivery time window is: {{ $json.gophrTimeWindow || 'To be confirmed' }}\n\nShould you have any problems with the delivery, please don't hesitate to contact us.\n\nKind regards,","type":"string"},{"id":"intercom-id","name":"intercomId","value":"={{ $json.intercomId }}","type":"string"}]},"options":{}},"id":"96eedb59-00ed-41b1-87ee-b1c89749a087","name":"Template: Return Courier Gophr","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,352]},{"parameters":{},"id":"53c7125b-9ea0-4304-a975-6a44d7c9c172","name":"Merge All Templates","type":"n8n-nodes-base.merge","typeVersion":3,"position":[336,-1328]},{"parameters":{"method":"POST","url":"=https://api.intercom.io/conversations/{{ $json.intercomId }}/reply","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message_type\": \"comment\",\n  \"type\": \"admin\",\n  \"admin_id\": \"9702337\",\n  \"body\": {{ JSON.stringify($json.emailBody) }}\n}","options":{}},"id":"422b385c-a1e7-4bea-b518-8d7fcedebd09","name":"Send Intercom Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-1328],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"assignments":{"assignments":[{"id":"result","name":"result","value":"=Email sent successfully","type":"string"}]},"options":{}},"id":"f995f5a7-feca-402e-b0b1-570630a74fcd","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,-1328]},{"parameters":{"assignments":{"assignments":[{"id":"result","name":"result","value":"No Intercom ID - notification skipped","type":"string"}]},"options":{}},"id":"5b6a780c-e40b-4799-b79a-33c65da5218b","name":"No Intercom ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-928]},{"parameters":{"url":"=https://api.intercom.io/conversations/{{ $json.intercomId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"options":{}},"id":"93efc282-b009-40dc-85ad-290b9d2e20bb","name":"Fetch Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,-1328],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.intercom.io/contacts/{{ $json.contacts?.contacts?.[0]?.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"options":{}},"id":"3548747a-2487-455e-8e0d-e03a7b12007a","name":"Fetch Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-1328],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Get original data from Extract Data node\nconst originalData = $('Extract Data').first().json;\n\n// Get contact info from Intercom API response\nconst contact = $input.first().json;\n\n// Extract first name from Intercom contact\n// Falls back to Monday item name if Intercom name unavailable\nlet contactFirstName = originalData.itemName; // default fallback\n\nif (contact?.name) {\n  // Intercom contact has a name - take the first name only\n  contactFirstName = contact.name.split(' ')[0];\n} else if (contact?.first_name) {\n  // Some Intercom versions use first_name directly\n  contactFirstName = contact.first_name;\n}\n\nreturn {\n  json: {\n    ...originalData,\n    contactFirstName: contactFirstName\n  }\n};"},"id":"3fb6a21f-5d78-4564-867e-39221067b467","name":"Merge Contact Name","type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-1328]}],"connections":{"Webhook: Status Notification":{"main":[[{"node":"Extract Data","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Has Intercom ID?","type":"main","index":0}]]},"Has Intercom ID?":{"main":[[{"node":"Fetch Conversation","type":"main","index":0}],[{"node":"No Intercom ID","type":"main","index":0}]]},"Route by Notification Type":{"main":[[{"node":"Template: Received Walk-In","type":"main","index":0}],[{"node":"Template: Received Remote","type":"main","index":0}],[{"node":"Template: Booking Confirmed","type":"main","index":0}],[{"node":"Template: Booking Warranty","type":"main","index":0}],[{"node":"Template: Courier Gophr","type":"main","index":0}],[{"node":"Template: Courier Mail-In","type":"main","index":0}],[{"node":"Template: Courier Warranty","type":"main","index":0}],[{"node":"Template: Ready Walk-In","type":"main","index":0}],[{"node":"Template: Ready Warranty","type":"main","index":0}],[{"node":"Template: Password With Code","type":"main","index":0}],[{"node":"Template: Password No Code","type":"main","index":0}],[{"node":"Template: Return Courier","type":"main","index":0}],[{"node":"Template: Return Courier Warranty","type":"main","index":0}],[{"node":"Template: Return Courier Gophr","type":"main","index":0}]]},"Template: Received Walk-In":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Received Remote":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Booking Confirmed":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Booking Warranty":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Courier Gophr":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Courier Mail-In":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Courier Warranty":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Ready Walk-In":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Ready Warranty":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Password With Code":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Password No Code":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Return Courier":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Return Courier Warranty":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Template: Return Courier Gophr":{"main":[[{"node":"Merge All Templates","type":"main","index":0}]]},"Merge All Templates":{"main":[[{"node":"Send Intercom Reply","type":"main","index":0}]]},"Send Intercom Reply":{"main":[[{"node":"Success","type":"main","index":0}]]},"Fetch Conversation":{"main":[[{"node":"Fetch Contact","type":"main","index":0}]]},"Fetch Contact":{"main":[[{"node":"Merge Contact Name","type":"main","index":0}]]},"Merge Contact Name":{"main":[[{"node":"Route by Notification Type","type":"main","index":0}]]}},"authors":"Michael Ferrari","name":null,"description":null}}