webhook-migration/discovery/n8n-exports/warranty-claim.json
{"updatedAt":"2026-02-09T10:01:16.000Z","createdAt":"2026-02-09T09:53:02.363Z","id":"LjNBWaDz9f5Rj8g5","name":"Warranty Claim Form","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"warranty-claim","responseMode":"responseNode","options":{"allowedOrigins":"https://icorrect.co.uk,https://www.icorrect.co.uk","rawBody":false}},"id":"8b6bc716-b162-4788-8ed5-168a4e57f569","name":"Webhook - Receive Claim","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1680,112],"webhookId":"warranty-claim"},{"parameters":{"jsCode":"// Parse and validate incoming warranty claim data\nconst input = $input.first().json;\nlet formData = input.body || input;\n\nconst extractField = (data, fieldName) => {\n  if (data[`contact[${fieldName}]`]) return data[`contact[${fieldName}]`];\n  if (data[fieldName]) return data[fieldName];\n  if (data.contact && data.contact[fieldName]) return data.contact[fieldName];\n  return null;\n};\n\nconst formatPhoneNumber = (phone) => {\n  if (!phone) return null;\n  let cleaned = phone.replace(/[^\\d+]/g, '');\n  if (!cleaned || cleaned.replace(/\\+/g, '').length === 0) return null;\n\n  if (cleaned.startsWith('0') && cleaned.length === 11) {\n    cleaned = '+44' + cleaned.substring(1);\n  } else if (cleaned.startsWith('44') && cleaned.length === 12) {\n    cleaned = '+' + cleaned;\n  } else if (cleaned.startsWith('+44') || cleaned.startsWith('+')) {\n    // Already has international prefix\n  } else if (cleaned.length === 10 && !cleaned.startsWith('0')) {\n    cleaned = '+44' + cleaned;\n  } else if (cleaned.length >= 7 && cleaned.length <= 15) {\n    cleaned = '+' + cleaned;\n  } else {\n    return null;\n  }\n\n  const digitsOnly = cleaned.replace('+', '');\n  if (digitsOnly.length < 7 || digitsOnly.length > 15) return null;\n  if (!/^\\+\\d{7,15}$/.test(cleaned)) return null;\n  return cleaned;\n};\n\n// Extract fields\nconst name = extractField(formData, 'name');\nconst email = extractField(formData, 'email');\nconst phone = extractField(formData, 'phone');\nconst repairDate = extractField(formData, 'repair_date');\nconst deviceType = extractField(formData, 'device_type');\nconst model = extractField(formData, 'model');\nconst issue = extractField(formData, 'body');\n\n// Validation\nif (!email) throw new Error('Email is required');\nif (!name) throw new Error('Name is required');\nif (!deviceType) throw new Error('Device type is required');\nif (!issue) throw new Error('Issue description is required');\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email.trim())) throw new Error('Invalid email format');\n\nconst formattedPhone = formatPhoneNumber(phone);\nconst uniqueId = Date.now();\n\n// Build device string\nconst deviceStr = model ? `${deviceType} ${model}` : deviceType;\n\n// Email subject - unique for conversation matching\nconst emailSubject = `Warranty Claim: ${name} - ${deviceStr} [${uniqueId}]`;\n\n// Email body\nlet emailBody = `Warranty Claim from ${name}`;\nemailBody += `\\n\\nEmail: ${email}`;\nemailBody += `\\nPhone: ${formattedPhone || 'Not provided'}`;\nemailBody += `\\nDevice: ${deviceStr}`;\nif (repairDate) emailBody += `\\nApprox. Repair Date: ${repairDate}`;\nemailBody += `\\n\\nIssue Description:\\n${issue}`;\n\nreturn {\n  json: {\n    name: name.trim(),\n    email: email.trim().toLowerCase(),\n    phone: formattedPhone,\n    repairDate: repairDate || null,\n    deviceType: deviceType,\n    model: model || null,\n    deviceStr: deviceStr,\n    issue: issue,\n    emailSubject: emailSubject,\n    emailBody: emailBody,\n    uniqueId: uniqueId,\n    timestamp: new Date().toISOString()\n  }\n};"},"id":"d723674e-01a0-47c1-a53f-16943a72517e","name":"Parse Warranty Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1456,112]},{"parameters":{"fromEmail":"michael.f@icorrect.co.uk","toEmail":"support@icorrect.co.uk","subject":"={{ $json.emailSubject }}","emailFormat":"text","text":"={{ $json.emailBody }}","options":{"appendAttribution":false,"replyTo":"={{ $json.email }}"}},"id":"2317c2a0-3341-47c7-92ab-5612015fd1f7","name":"Send Email to Intercom","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-1216,-16],"webhookId":"b223988d-aaf3-4e19-a872-071eebab0def","credentials":{"smtp":{"id":"0zcClIPpgC3EHxSw","name":"SMTP account"}}},{"parameters":{"amount":45},"id":"5ee4ea9c-6552-44fa-936c-1d3545fe2649","name":"Wait 45 Seconds","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-736,224],"webhookId":"6e73cec9-684b-415a-864b-e4a5783d8feb"},{"parameters":{"method":"POST","url":"https://api.intercom.io/conversations/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"field\": \"source.subject\",\n    \"operator\": \"=\",\n    \"value\": \"{{ $json.emailSubject }}\"\n  },\n  \"sort\": {\n    \"field\": \"created_at\",\n    \"order\": \"desc\"\n  },\n  \"pagination\": {\n    \"per_page\": 1\n  }\n}","options":{}},"id":"7b46843f-492a-4ad8-adaa-433c5013f6b3","name":"Search for Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,160],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Extract conversation ID and original contact ID\nconst searchResult = $input.first().json;\n\n// Get contact ID from whichever path ran (Use Existing Contact or Use New Contact)\nlet customerContactId = null;\ntry {\n  customerContactId = $('Use Existing Contact').first().json.customerContactId;\n} catch(e) {\n  // Existing contact path didn't run, try new contact path\n}\nif (!customerContactId) {\n  try {\n    customerContactId = $('Use New Contact').first().json.customerContactId;\n  } catch(e) {\n    // Neither path produced an ID\n  }\n}\n\nif (!searchResult.conversations || searchResult.conversations.length === 0) {\n  return {\n    json: {\n      conversationId: null,\n      originalContactId: null,\n      customerContactId: customerContactId,\n      error: 'Conversation not found'\n    }\n  };\n}\n\nconst conversation = searchResult.conversations[0];\nconst conversationId = conversation.id;\n\nlet originalContactId = null;\nif (conversation.contacts && conversation.contacts.contacts && conversation.contacts.contacts.length > 0) {\n  originalContactId = conversation.contacts.contacts[0].id;\n}\n\nreturn {\n  json: {\n    conversationId: conversationId,\n    originalContactId: originalContactId,\n    customerContactId: customerContactId\n  }\n};"},"id":"bce4c450-42ba-48c6-82a5-7c12deadf474","name":"Extract IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-conversation","leftValue":"={{ $json.conversationId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"ca125918-cd60-4ef8-afd1-849966f36b53","name":"Conversation Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-16,240]},{"parameters":{"method":"POST","url":"=https://api.intercom.io/conversations/{{ $json.conversationId }}/customers","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"admin_id\": \"9702337\",\n  \"customer\": {\n    \"intercom_user_id\": \"{{ $json.customerContactId }}\"\n  }\n}","options":{}},"id":"41fd7e6c-f748-48ab-a072-b84ca6209138","name":"Add Real Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,112],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"method":"DELETE","url":"=https://api.intercom.io/conversations/{{ $('Extract IDs').item.json.conversationId }}/customers/{{ $('Extract IDs').item.json.originalContactId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"admin_id\": \"9702337\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"85f015c6-8838-4d5c-a5bb-89ee9392b3dc","name":"Remove Sender Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,112],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"message\": \"Your warranty claim has been received. We will review it and get back to you within 24 hours.\"\n}","options":{"responseCode":200}},"id":"6fff7656-33c7-4ac3-aaaf-dcb791432ff5","name":"Return Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-976,-16]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": false,\n  \"error\": \"We couldn't process your warranty claim. Please try again or contact us directly at support@icorrect.co.uk\"\n}","options":{"responseCode":400}},"id":"10ebfc3c-4527-4ccb-a4f4-427240adcb15","name":"Return Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1456,352]},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"field\": \"email\",\n    \"operator\": \"=\",\n    \"value\": \"{{ $('Parse Warranty Data').item.json.email }}\"\n  }\n}","options":{}},"id":"f58b5721-2e84-4f00-9563-0eff7d157758","name":"Search Contact by Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1216,240],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-contact","leftValue":"={{ $json.total_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"ff9c8df3-ae26-41de-99bf-724154624ac6","name":"Contact Exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-976,240]},{"parameters":{"jsCode":"// Extract contact ID from search results\nconst searchResult = $input.first().json;\nconst formData = $('Parse Warranty Data').first().json;\n\n// Use the first matching contact\nconst contact = searchResult.data[0];\n\nreturn {\n  json: {\n    customerContactId: contact.id,\n    customerEmail: formData.email,\n    customerName: formData.name,\n    customerPhone: formData.phone,\n    emailSubject: formData.emailSubject\n  }\n};"},"id":"3aa5d854-7a0d-4c90-8cf7-81a450394c53","name":"Use Existing Contact","type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,80]},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"role\": \"user\",\n  \"email\": \"{{ $('Parse Warranty Data').item.json.email }}\",\n  \"name\": \"{{ $('Parse Warranty Data').item.json.name }}\"\n}","options":{}},"id":"698d49eb-e529-4255-9891-5f96a252dc2a","name":"Create New Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,368],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Extract contact ID from newly created contact\nconst contactResponse = $input.first().json;\nconst formData = $('Parse Warranty Data').first().json;\n\nif (!contactResponse.id) {\n  throw new Error('Failed to create contact: ' + JSON.stringify(contactResponse));\n}\n\nreturn {\n  json: {\n    customerContactId: contactResponse.id,\n    customerEmail: formData.email,\n    customerName: formData.name,\n    customerPhone: formData.phone,\n    emailSubject: formData.emailSubject\n  }\n};"},"id":"d9824d67-411b-4fe2-ac2b-a96674fda405","name":"Use New Contact","type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,320]}],"connections":{"Webhook - Receive Claim":{"main":[[{"node":"Parse Warranty Data","type":"main","index":0}]]},"Parse Warranty Data":{"main":[[{"node":"Send Email to Intercom","type":"main","index":0},{"node":"Search Contact by Email","type":"main","index":0}]]},"Send Email to Intercom":{"main":[[{"node":"Return Success","type":"main","index":0}]]},"Wait 45 Seconds":{"main":[[{"node":"Search for Conversation","type":"main","index":0}]]},"Search for Conversation":{"main":[[{"node":"Extract IDs","type":"main","index":0}]]},"Extract IDs":{"main":[[{"node":"Conversation Found?","type":"main","index":0}]]},"Conversation Found?":{"main":[[{"node":"Add Real Customer","type":"main","index":0}]]},"Add Real Customer":{"main":[[{"node":"Remove Sender Contact","type":"main","index":0}]]},"Search Contact by Email":{"main":[[{"node":"Contact Exists?","type":"main","index":0}]]},"Contact Exists?":{"main":[[{"node":"Use Existing Contact","type":"main","index":0}],[{"node":"Create New Contact","type":"main","index":0}]]},"Use Existing Contact":{"main":[[{"node":"Wait 45 Seconds","type":"main","index":0}]]},"Create New Contact":{"main":[[{"node":"Use New Contact","type":"main","index":0}]]},"Use New Contact":{"main":[[{"node":"Wait 45 Seconds","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook - Receive Claim":[{"json":{"headers":{"host":"icorrect.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36","content-length":"206","accept":"*/*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"87.7.106.74","cf-ew-via":"15","cf-ipcountry":"IT","cf-ray":"9cb27f25c430ed2b-MXP","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","origin":"https://icorrect.co.uk","priority":"u=1, i","referer":"https://icorrect.co.uk/","sec-ch-ua":"\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"87.7.106.74, 172.69.68.78","x-forwarded-host":"icorrect.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-27-56cf765df-f6crp","x-is-trusted":"yes","x-real-ip":"87.7.106.74"},"params":{},"query":{},"body":{"name":"Theepan Gnana","email":"theepan04@outlook.com","phone":"07429369277","repair_date":"26/09/2024","device_type":"iPad","model":"iPad Pro 12.9 4th Gen","body":"The charging port stop working again !"},"webhookUrl":"https://icorrect.app.n8n.cloud/webhook/warranty-claim","executionMode":"production"}}]},"versionId":"29c1ca0d-b669-4d37-80fb-716a2997a4a6","activeVersionId":"29c1ca0d-b669-4d37-80fb-716a2997a4a6","versionCounter":10,"triggerCount":1,"shared":[{"updatedAt":"2026-02-09T09:53:02.365Z","createdAt":"2026-02-09T09:53:02.365Z","role":"workflow:owner","workflowId":"LjNBWaDz9f5Rj8g5","projectId":"jRJ0ph9GTtOcM9ih","project":{"updatedAt":"2025-11-27T12:51:43.108Z","createdAt":"2025-11-27T12:49:31.055Z","id":"jRJ0ph9GTtOcM9ih","name":"Michael Ferrari <michael.f@icorrect.co.uk>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-27T12:49:31.057Z","createdAt":"2025-11-27T12:49:31.057Z","userId":"3cc846c4-226d-42cc-a343-014431d3ceb9","projectId":"jRJ0ph9GTtOcM9ih","user":{"updatedAt":"2026-03-30T07:45:18.000Z","createdAt":"2025-11-27T12:49:31.050Z","id":"3cc846c4-226d-42cc-a343-014431d3ceb9","email":"michael.f@icorrect.co.uk","firstName":"Michael","lastName":"Ferrari","personalizationAnswers":null,"settings":{"firstSuccessfulWorkflowId":"AubY0Rvhhvgp4GJ1","userActivated":true,"userActivatedAt":1767965888535,"npsSurvey":{"responded":true,"lastShownAt":1770028593017}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-29","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-09T10:01:16.794Z","createdAt":"2026-02-09T10:01:16.794Z","versionId":"29c1ca0d-b669-4d37-80fb-716a2997a4a6","workflowId":"LjNBWaDz9f5Rj8g5","nodes":[{"parameters":{"httpMethod":"POST","path":"warranty-claim","responseMode":"responseNode","options":{"allowedOrigins":"https://icorrect.co.uk,https://www.icorrect.co.uk","rawBody":false}},"id":"8b6bc716-b162-4788-8ed5-168a4e57f569","name":"Webhook - Receive Claim","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1680,112],"webhookId":"warranty-claim"},{"parameters":{"jsCode":"// Parse and validate incoming warranty claim data\nconst input = $input.first().json;\nlet formData = input.body || input;\n\nconst extractField = (data, fieldName) => {\n  if (data[`contact[${fieldName}]`]) return data[`contact[${fieldName}]`];\n  if (data[fieldName]) return data[fieldName];\n  if (data.contact && data.contact[fieldName]) return data.contact[fieldName];\n  return null;\n};\n\nconst formatPhoneNumber = (phone) => {\n  if (!phone) return null;\n  let cleaned = phone.replace(/[^\\d+]/g, '');\n  if (!cleaned || cleaned.replace(/\\+/g, '').length === 0) return null;\n\n  if (cleaned.startsWith('0') && cleaned.length === 11) {\n    cleaned = '+44' + cleaned.substring(1);\n  } else if (cleaned.startsWith('44') && cleaned.length === 12) {\n    cleaned = '+' + cleaned;\n  } else if (cleaned.startsWith('+44') || cleaned.startsWith('+')) {\n    // Already has international prefix\n  } else if (cleaned.length === 10 && !cleaned.startsWith('0')) {\n    cleaned = '+44' + cleaned;\n  } else if (cleaned.length >= 7 && cleaned.length <= 15) {\n    cleaned = '+' + cleaned;\n  } else {\n    return null;\n  }\n\n  const digitsOnly = cleaned.replace('+', '');\n  if (digitsOnly.length < 7 || digitsOnly.length > 15) return null;\n  if (!/^\\+\\d{7,15}$/.test(cleaned)) return null;\n  return cleaned;\n};\n\n// Extract fields\nconst name = extractField(formData, 'name');\nconst email = extractField(formData, 'email');\nconst phone = extractField(formData, 'phone');\nconst repairDate = extractField(formData, 'repair_date');\nconst deviceType = extractField(formData, 'device_type');\nconst model = extractField(formData, 'model');\nconst issue = extractField(formData, 'body');\n\n// Validation\nif (!email) throw new Error('Email is required');\nif (!name) throw new Error('Name is required');\nif (!deviceType) throw new Error('Device type is required');\nif (!issue) throw new Error('Issue description is required');\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email.trim())) throw new Error('Invalid email format');\n\nconst formattedPhone = formatPhoneNumber(phone);\nconst uniqueId = Date.now();\n\n// Build device string\nconst deviceStr = model ? `${deviceType} ${model}` : deviceType;\n\n// Email subject - unique for conversation matching\nconst emailSubject = `Warranty Claim: ${name} - ${deviceStr} [${uniqueId}]`;\n\n// Email body\nlet emailBody = `Warranty Claim from ${name}`;\nemailBody += `\\n\\nEmail: ${email}`;\nemailBody += `\\nPhone: ${formattedPhone || 'Not provided'}`;\nemailBody += `\\nDevice: ${deviceStr}`;\nif (repairDate) emailBody += `\\nApprox. Repair Date: ${repairDate}`;\nemailBody += `\\n\\nIssue Description:\\n${issue}`;\n\nreturn {\n  json: {\n    name: name.trim(),\n    email: email.trim().toLowerCase(),\n    phone: formattedPhone,\n    repairDate: repairDate || null,\n    deviceType: deviceType,\n    model: model || null,\n    deviceStr: deviceStr,\n    issue: issue,\n    emailSubject: emailSubject,\n    emailBody: emailBody,\n    uniqueId: uniqueId,\n    timestamp: new Date().toISOString()\n  }\n};"},"id":"d723674e-01a0-47c1-a53f-16943a72517e","name":"Parse Warranty Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1456,112]},{"parameters":{"fromEmail":"michael.f@icorrect.co.uk","toEmail":"support@icorrect.co.uk","subject":"={{ $json.emailSubject }}","emailFormat":"text","text":"={{ $json.emailBody }}","options":{"appendAttribution":false,"replyTo":"={{ $json.email }}"}},"id":"2317c2a0-3341-47c7-92ab-5612015fd1f7","name":"Send Email to Intercom","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-1216,-16],"webhookId":"b223988d-aaf3-4e19-a872-071eebab0def","credentials":{"smtp":{"id":"0zcClIPpgC3EHxSw","name":"SMTP account"}}},{"parameters":{"amount":45},"id":"5ee4ea9c-6552-44fa-936c-1d3545fe2649","name":"Wait 45 Seconds","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-736,224],"webhookId":"6e73cec9-684b-415a-864b-e4a5783d8feb"},{"parameters":{"method":"POST","url":"https://api.intercom.io/conversations/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"field\": \"source.subject\",\n    \"operator\": \"=\",\n    \"value\": \"{{ $json.emailSubject }}\"\n  },\n  \"sort\": {\n    \"field\": \"created_at\",\n    \"order\": \"desc\"\n  },\n  \"pagination\": {\n    \"per_page\": 1\n  }\n}","options":{}},"id":"7b46843f-492a-4ad8-adaa-433c5013f6b3","name":"Search for Conversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,160],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Extract conversation ID and original contact ID\nconst searchResult = $input.first().json;\n\n// Get contact ID from whichever path ran (Use Existing Contact or Use New Contact)\nlet customerContactId = null;\ntry {\n  customerContactId = $('Use Existing Contact').first().json.customerContactId;\n} catch(e) {\n  // Existing contact path didn't run, try new contact path\n}\nif (!customerContactId) {\n  try {\n    customerContactId = $('Use New Contact').first().json.customerContactId;\n  } catch(e) {\n    // Neither path produced an ID\n  }\n}\n\nif (!searchResult.conversations || searchResult.conversations.length === 0) {\n  return {\n    json: {\n      conversationId: null,\n      originalContactId: null,\n      customerContactId: customerContactId,\n      error: 'Conversation not found'\n    }\n  };\n}\n\nconst conversation = searchResult.conversations[0];\nconst conversationId = conversation.id;\n\nlet originalContactId = null;\nif (conversation.contacts && conversation.contacts.contacts && conversation.contacts.contacts.length > 0) {\n  originalContactId = conversation.contacts.contacts[0].id;\n}\n\nreturn {\n  json: {\n    conversationId: conversationId,\n    originalContactId: originalContactId,\n    customerContactId: customerContactId\n  }\n};"},"id":"bce4c450-42ba-48c6-82a5-7c12deadf474","name":"Extract IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-conversation","leftValue":"={{ $json.conversationId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"ca125918-cd60-4ef8-afd1-849966f36b53","name":"Conversation Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-16,240]},{"parameters":{"method":"POST","url":"=https://api.intercom.io/conversations/{{ $json.conversationId }}/customers","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"admin_id\": \"9702337\",\n  \"customer\": {\n    \"intercom_user_id\": \"{{ $json.customerContactId }}\"\n  }\n}","options":{}},"id":"41fd7e6c-f748-48ab-a072-b84ca6209138","name":"Add Real Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,112],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"method":"DELETE","url":"=https://api.intercom.io/conversations/{{ $('Extract IDs').item.json.conversationId }}/customers/{{ $('Extract IDs').item.json.originalContactId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"admin_id\": \"9702337\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"85f015c6-8838-4d5c-a5bb-89ee9392b3dc","name":"Remove Sender Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,112],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"message\": \"Your warranty claim has been received. We will review it and get back to you within 24 hours.\"\n}","options":{"responseCode":200}},"id":"6fff7656-33c7-4ac3-aaaf-dcb791432ff5","name":"Return Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-976,-16]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": false,\n  \"error\": \"We couldn't process your warranty claim. Please try again or contact us directly at support@icorrect.co.uk\"\n}","options":{"responseCode":400}},"id":"10ebfc3c-4527-4ccb-a4f4-427240adcb15","name":"Return Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1456,352]},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"field\": \"email\",\n    \"operator\": \"=\",\n    \"value\": \"{{ $('Parse Warranty Data').item.json.email }}\"\n  }\n}","options":{}},"id":"f58b5721-2e84-4f00-9563-0eff7d157758","name":"Search Contact by Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1216,240],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-contact","leftValue":"={{ $json.total_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"ff9c8df3-ae26-41de-99bf-724154624ac6","name":"Contact Exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-976,240]},{"parameters":{"jsCode":"// Extract contact ID from search results\nconst searchResult = $input.first().json;\nconst formData = $('Parse Warranty Data').first().json;\n\n// Use the first matching contact\nconst contact = searchResult.data[0];\n\nreturn {\n  json: {\n    customerContactId: contact.id,\n    customerEmail: formData.email,\n    customerName: formData.name,\n    customerPhone: formData.phone,\n    emailSubject: formData.emailSubject\n  }\n};"},"id":"3aa5d854-7a0d-4c90-8cf7-81a450394c53","name":"Use Existing Contact","type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,80]},{"parameters":{"method":"POST","url":"https://api.intercom.io/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Intercom-Version","value":"2.11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"role\": \"user\",\n  \"email\": \"{{ $('Parse Warranty Data').item.json.email }}\",\n  \"name\": \"{{ $('Parse Warranty Data').item.json.name }}\"\n}","options":{}},"id":"698d49eb-e529-4255-9891-5f96a252dc2a","name":"Create New Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,368],"credentials":{"httpHeaderAuth":{"id":"TBjPcTUCPaXXxzgc","name":"Intercom Auth"}}},{"parameters":{"jsCode":"// Extract contact ID from newly created contact\nconst contactResponse = $input.first().json;\nconst formData = $('Parse Warranty Data').first().json;\n\nif (!contactResponse.id) {\n  throw new Error('Failed to create contact: ' + JSON.stringify(contactResponse));\n}\n\nreturn {\n  json: {\n    customerContactId: contactResponse.id,\n    customerEmail: formData.email,\n    customerName: formData.name,\n    customerPhone: formData.phone,\n    emailSubject: formData.emailSubject\n  }\n};"},"id":"d9824d67-411b-4fe2-ac2b-a96674fda405","name":"Use New Contact","type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,320]}],"connections":{"Webhook - Receive Claim":{"main":[[{"node":"Parse Warranty Data","type":"main","index":0}]]},"Parse Warranty Data":{"main":[[{"node":"Send Email to Intercom","type":"main","index":0},{"node":"Search Contact by Email","type":"main","index":0}]]},"Send Email to Intercom":{"main":[[{"node":"Return Success","type":"main","index":0}]]},"Wait 45 Seconds":{"main":[[{"node":"Search for Conversation","type":"main","index":0}]]},"Search for Conversation":{"main":[[{"node":"Extract IDs","type":"main","index":0}]]},"Extract IDs":{"main":[[{"node":"Conversation Found?","type":"main","index":0}]]},"Conversation Found?":{"main":[[{"node":"Add Real Customer","type":"main","index":0}]]},"Add Real Customer":{"main":[[{"node":"Remove Sender Contact","type":"main","index":0}]]},"Search Contact by Email":{"main":[[{"node":"Contact Exists?","type":"main","index":0}]]},"Contact Exists?":{"main":[[{"node":"Use Existing Contact","type":"main","index":0}],[{"node":"Create New Contact","type":"main","index":0}]]},"Use Existing Contact":{"main":[[{"node":"Wait 45 Seconds","type":"main","index":0}]]},"Create New Contact":{"main":[[{"node":"Use New Contact","type":"main","index":0}]]},"Use New Contact":{"main":[[{"node":"Wait 45 Seconds","type":"main","index":0}]]}},"authors":"Michael Ferrari","name":null,"description":null}}